h1, .h1{
    font-size: $h1-font-size-small;
    @include respond(tab){
        font-size: $h1-font-size;
    }
}
h2 .h2{
   font-size:  $h2-font-size-small;
    @include respond(tab){
        font-size: $h2-font-size;
    }
}

.subtitle{
    font-size: $font-size-base;
    font-weight: 600;
}