.dashboard{
    padding: 0 1rem;
    min-height: 100vh;
    width: 100%;
    position: relative;

    @include respond(tab){
        padding: 0 5rem;
    }

    &-title{
        display: block;
        &-1{
            margin-bottom: 2.5rem;
        }
        &-2{
            margin-bottom: 1rem;
        }
    }
    &-content{
        position: relative;
    }

    &-main-content{
        margin: 3rem 0;
    }

    &-row{
        background-color: $white;
        border-radius: 8px;
        padding: 2rem ;
        margin-top: 3rem;
    }
}

// Item preview image from  home
.item-preview{
    padding: 2rem;
    
    background-color: rgba($white, .6);
    border-radius: 8px;
    position: fixed;
    bottom: 0;
    backdrop-filter: blur(4px);
    z-index: 1001;
    border: 1px solid $gray-600;
    margin-bottom: 2rem;
    left: 1rem;
    
    @include respond(desktop){
        width: 31rem;
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 1rem;
        left: 40%;
    }
    &-info{
        span.price{
            display: inline-block;
            margin-right: 1rem;
        }
        span.stock{
            display: inline-block;
            margin-left: 1rem;
        }
    }
    .image{
        width: 116px;
        height: 129px;
        
        @include respond(desktop){
            width: 145px;

        }
        
        img{

            border-radius: 8px;
        }
    }

    .close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
    }
}


// Item image from viewing inventory
.item-image-cover{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    background-color: $white;
    border-radius: 4px;
    overflow: hidden;
    img{
        // width: auto;
        height: 100%;
    }

    &.edit{
        .action{
            width: 100%;
            height: 250px;
            position: absolute;
            background: linear-gradient(to top, rgba($black, .5) 0%, rgba($black, .5) 15%, transparent 50%, transparent);
            top: 0;
            left: 0;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding-bottom: 1rem;
        }
    }
}