.search{
    // padding: 6rem 0;
    background-color: $accent;
    min-height: 100vh;
    padding-bottom: 3rem;
    
    // search form
    &-form{
        background-color: $white;
        padding: 2rem 0 1rem;

        &-field{
            button.form-zero{
                position: absolute;
                right: 1rem;
                top: 28%;
                z-index: 2;

                svg{
                    path{
                        fill:  $gray-700;
                    }
                }
            }
            width: 100%;
            position: relative;
            @include respond(tab){
                width: 60%;
            }

            @include respond(desktop){
                width: 40%
            }
        }
        
        &-suggestion{
            position: absolute;
            top: 100%;
            left: 0;
            box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
            background-color: $white;
            width: 100%;
            max-height: 60vh;
            overflow-y: scroll;
            z-index: 3;

            ul{
                list-style-type: none;
                padding: 0;
            }

            &-item{
                padding: 1rem 1.5rem;
                color: $dark;
                text-align: left;
                width: 100%;
                display: block;
                transition: all .4s;
                border: none;
                background-color: $white;

                &:hover{
                    text-decoration: none;
                    background-color: $accent;
                }

                &:focus{
                    outline: none;
                    box-shadow: none;
                    border: none;
                }
            }
        }
    }
    
    // search result
    &-result{

        // best result
        &-best{
            background-color: $white;
            padding: 2rem 1rem;
            position: relative;
            width: 100%;
            margin-bottom: 3rem;
            
            @include respond(tab){
                padding: 3rem;
            }
        }

        &-other{
            padding: 2rem;
            background-color: $white;
        }
        
        
    }
    
    
    // seach store result information
    // meant for customizing the look of the image and store details
    
    &-store-result{
        
        display: grid;
        grid-template-rows: auto auto;
        row-gap: 2rem;
        margin-bottom: 3rem;
        @include respond(tab){
            grid-template-columns: 1fr 3fr;
            column-gap: 2rem;
        }
        
        .image{
            width:  215px;
            height:  190px;
            overflow: hidden;
            img{
                width: 100%;
            }
        }
        
        .actions{
            .btn{
                display: inline-flex;
                align-items: center;

                .icon{
                    display: inline-block;
                    margin-right: .5rem;
                }
                &:not(:last-child){
                    margin-bottom: 1rem;

                    @include respond(phone-land){
                        margin-bottom: 0;
                        margin-right: 1rem;
                    }
                }
            }
        }

    }
    // related items   
    &-store-related,
    &-result-other{
       &-item{
           margin-bottom: 3rem;
           text-align: center;
           max-width: 216px;
           @include respond(tab){
               margin-bottom: 0;
           }
           .image{
            width:  215px;
            height:  190px;
            overflow: hidden;
                img{
                    width: 100%;
                }
            }
           .store-name{
               font-weight: 600;
               display: block;
               width: 95%;
               margin: 0 auto;
               margin-top: 1rem;
           }
       }
    }



    
    &-rating{
        position: absolute;
        top: 14px;
        right: 24px;
        display: flex;
        align-items: center;
        


        i{
            color: gold;
            display: inline-block;
            margin-right: 4px;
        }
        span{
            font-size: .8rem;
            line-height: 1;
        }
    }
}

.best-seller{
    display: block;
    position: absolute;
    top: -14px;
    left: 24px;
    color: $dark;
    background-color: $primary;
    box-shadow: 0 8px 16px rgba($primary ,.2);
    font-size: .7rem;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 4px;
}