.store{


    // header
    &-header{

        display: block;
        width: 100%;
        height: 65vh;
        position: relative;
        background-color: $dark;

        // header image-overlay

        // &-overlay{
        //     img{
        //         width: 100%;
        //         height: auto;
        //     }
        // }


        // header text
        &-text{
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50% ,-50%);
            display: block;
            text-align: center;
            z-index: 1;
            @include respond(tab){
               width: 80%;
            }

            h1{
                margin-bottom: 2rem;
                
            }
        }
        
    }
    

    // result

    &-result{

        margin: 6rem 0;

        &-image{
            position: relative;
            width: 236px;

            img{
                display: inline-block;
                position: relative;
                z-index: 2;

            }
            &::before{
                width: 195px;
                height: 162px;
                position: absolute;
                content: '';
                display: block;
                background-color: rgba($primary, .2);
                bottom: -26px;
                right: -29px;
            }
        } 

        &-desc{
            padding: 2rem 1rem;
            font-size: .8rem;
        }

        &-cart{
            min-height: 262px;
            width: 100%;
            border-radius: 8px;
            border: 1px solid $gray-300;
            padding:2rem;
            
            &-detail{
                
                @include respond(tab){
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                }


                &-col{
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;

                    @include respond(tab){
                        flex-direction: column;
                        align-items: center;
                        width: auto;
                        height: 6rem;
                    }


                    .item-count-toggle{
                        display: inline-flex;
                        flex-direction: column;
                        height: 3rem;
                        cursor: pointer;
                    }
                }
                
            }
        }
    }


    // store suggestions

    &-suggestion{
        padding: 6rem 0;
        background-color: $accent;  


        &-heading{
            margin-bottom: 3rem;
            font-weight: 600;
        }

        &-item{
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                margin-bottom: 1rem;
            }
        }
    }
    
}