.upload{
    &-inventory{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        column-gap: 1rem;
        overflow-x: scroll;
        padding-bottom: 3rem;
        
        @include respond(tab){
            overflow-x: auto;
            padding-bottom: 0;
        }   
        &-item{

            input{
                display: none;
            }

            label{
                width: 145px;
                height: 129px;
                border-radius: 4px;
                background-color: $light;
                border: 1px dashed $dark;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                &.edit-mode{
                    width: 260px;
                    height: 250px;
                }

                &:hover{
                    box-shadow: $box-shadow;
                }
            }
            
        }
    }
}