html, body {
  font-family: 'Montserrat', sans-serif;
  /* background-color: #111111; */
  color: #8A8A8A;
  height: 90%; }

.lonux {
  font-weight: 700; }

.lonux1 {
  color: #FFFFFF; }

.lonux2 {
  color: #8A8A8A !important; }

.lonux-input {
  background-color: #1f1f1f;
  border-radius: 0px;
  border-color: #8A8A8A;
  color: #8A8A8A;
  font-size: 22px; }

.lonux-input::placeholder {
  color: #8A8A8A; }

.lonux-input:focus {
  box-shadow: none;
  border-color: #8A8A8A;
  color: #8A8A8A;
  background-color: #1f1f1f; }

.lonux-btn {
  background-color: #fd961a;
  border-radius: 0px;
  color: #FFFFFF; }

.btn-lonux {
  background-color: #fd961a;
  color: #FFFFFF; }

.welcomeText {
  color: #8A8A8A; }

.lonux-nav {
  border-bottom: 1px dashed #707070; }

.lonux-link {
  color: #fd961a;
  text-transform: uppercase; }

.lonux-link:hover {
  color: #FFFFFF; }

.lonux-section-auth {
  height: inherit; }

.lonux-auth-input {
  height: 55px;
  background-color: transparent;
  border-radius: 20px;
  font-style: italic;
  font-weight: bolder;
  font-size: 22px;
  border-color: #707070; }

.lonux-auth-input::placeholder {
  font-style: italic;
  font-weight: bolder;
  font-size: 22px; }

.lonux-auth-input:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #707070; }

.lonux-auth-btn {
  background-color: #fd961a;
  padding: 10px 30px;
  color: #FFFFFF;
  border-radius: 0px; }

.lonux-auth-btn:focus {
  box-shadow: none; }

.lonux-lead-text {
  color: #FFFFFF;
  text-transform: uppercase;
  font-size: 2rem; }

.bg2 {
  background-color: #1f1f1f; }

.bg-lonux {
  background-color: #111111 !important; }

.text-lead {
  color: #fd961a !important; }

.text-white {
  color: #FFFFFF; }

.sidebar {
  background-color: #1f1f1f;
  height: 100vh;
  box-shadow: 5px 7px 25px #999; }

.bottom-border {
  border-bottom: 1px groove #eee; }

.sidebar-link {
  transition: all .4s; }

.sidebar-link:hover {
  background-color: #111111;
  border-radius: 5px; }

.current {
  background-color: #111111;
  border-radius: 7px;
  color: #FFFFFF !important;
  box-shadow: 2px 5px 20px #111111; }

.topNav {
  background-color: #1f1f1f; }

.l-home-search-input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid #8A8A8A;
  transition: all .4s; }

.l-home-search-input:focus {
  background-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #fd961a; }

.l-home-search-btn {
  background-color: #fd961a;
  border-radius: 50%;
  padding: 6px 12px;
  transition: all .4s; }

.l-home-search-btn:hover {
  transform: translateY(-1px); }

.l-home-search-btn:focus {
  box-shadow: none; }

@media (max-width: 768px) {
  .sidebar {
    position: static;
    height: auto; }
  .topNav {
    position: static; } }

.setupCard {
  box-shadow: 2px 5px 2px #8A8A8A;
  cursor: pointer; }

.setupCard:hover {
  transform: translateY(-1px);
  transition: all .5s; }

h6, h4 {
  font-weight: 700 !important; }

.form-control:focus {
  box-shadow: none !important; }

.btn:focus {
  box-shadow: none; }

label {
  text-transform: capitalize; }

.shopList {
  border-bottom: 1px solid #999;
  cursor: pointer;
  border-radius: 5px;
  border-left: 5px solid #fd961a; }

.addItemsBtn {
  position: fixed;
  z-index: 3;
  background-color: #fd961a;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 3px 2px #8A8A8A;
  bottom: 50px;
  right: 100px;
  transition: all .5s;
  color: #FFFFFF; }

.addItemsBtn:hover {
  transform: translateY(-2px); }

.addItemsBtn:focus {
  outline: none; }

.addInputBtn {
  position: fixed;
  z-index: 3;
  background-color: #1f1f1f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 3px 2px #8A8A8A;
  bottom: 50px;
  right: 100px;
  transition: all .5s;
  color: #FFFFFF; }

.addInputBtn:hover {
  transform: translateY(-2px); }

.addInputBtn:focus {
  outline: none; }
