<template>

	<div class="auth-section">
		<div class="container">
			<div class="welcome-text text-center">
				<h1>Welcome back shop admin</h1>
				<p>Please sign in</p>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-5">

					<form @submit.prevent="checkForm" >
						
						<div class="col-12 text-center form-group mb-3">
							<uL class="text-danger list-group" v-for="(error,index) in errors" :key="index">
								<li style="list-style:none">{{error}}</li>
							</ul>
						</div>
						<div class="form-group form-group-auth">
							<input type="text" name="phone" id="email_phone" v-model="formdata.phone" placeholder="phone (e.g. 234**********)" class="form-control" autofocus required>
							<label for="email_phone">Phone number (234XXXXXXXXXX)</label>
							<!-- <div class="help-block small">Phone Numbers must follow the <strong>+234XXXXXXXXXX</strong> format</div> -->
						</div>
						<div class="form-group form-group-auth">
							<input type="password" name="password" id="password" v-model="formdata.password" placeholder="password" class="form-control" required>
							<label for="password">Password</label>
						</div>
						<div class="form-group text-center my-5">
							<button id="loginBtn" class="btn btn-primary btn-auth">login</button>
							<clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>

</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {

 	name: 'LoginComponent',

  	data () {
	    return {
	    	errors: [],
	    	formdata: {
	    		phone: null,
	    		password: null
	    	},
	    	loader: {
	    		loading: false,
	    		color: "#fd961a",
	    	}
	    };
	},
    methods: {
    	checkForm: function(){
    		this.errors = [];
    		if (!this.formdata.phone || !this.formdata.password) {
    			this.errors.push("All fileds are required!")
    		}else{
    			this.login();
    		}
    	},
    	login: function(){
			if(this.formdata.phone.length == 11 && this.formdata.phone.substr(0,1) == 0){
				this.formdata.phone = this.formdata.phone.substr(1,this.formdata.phone.length -1)
			}
    		this.disable("button#loginBtn")
    		axios.post(this.pathOrigin+"/m/login", this.formdata)
    			.then(response=>{
					console.log(response.data)
    				window.location.href = response.data
    			})
    			.catch(err=>{
    				this.enable("button#loginBtn")
    				if (err.response.status == 403) {
    					this.errors.push("These details do not match our records")
    				}else{
    					this.errors.push("Oops! we could not sign you in. Please try again.")
    				}
    				console.log(err.response)
    			})
    	},
    	disable: function(el){
    		$(el).attr('disabled', true)
    		this.loader.loading = true;
    	},
    	enable: function(el){
    		$(el).attr('disabled', false)
    		this.loader.loading = false;
    	}
    },
    components: {
    	ClipLoader: ClipLoader,
    }
};
</script>

<style lang="css" scoped>
</style>