<template>
   <div class="dashboard-main-content mt-0">

       <div class="overview">
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Boooked items</span>
                        </div>
                        <div class="card-body" v-if="bookings.length">
                            <span class="h2">{{bookings[0].totalShopBookings}}</span>
                        </div>
                        <div class="card-body" v-else>
                            <span class="h2">0</span>
                        </div>
                        <div class="card-footer">
                            <!-- <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Bookings</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a> -->
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- little inventory -->

        <div class="dashboard-row">
            <!--<h3> {{bookings[0].recentShopBookings}} Recently items booked</h3> -->
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <form action="#" @submit.prevent="searchWithBookCode()">
                        <div class="form-group" style="display: flex;">
                            <input type="search" v-model="searchTerm" class="form-control border" placeholder="Booking Code">
                            <button type="submit" class="btn btn-sm btn-light">Search</button>
                            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                        </div>
                    </form>
                </div>
            </div>

            <!-- inventory table -->

            <div class="w-100" style="overflow-x: auto">
                <table class="table table-borderless table-dashboard">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Item</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Customer Distance</th>
                            <th scope="col">Status</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="bookings.length" @click.prevent="showBooking(booking)" v-for="(booking,i) in bookings" :key="i">
                            <td>#</td>
                            <td>{{booking.item_data.itemName}}</td>
                            <td>{{booking.item_data.quantity}}</td>
                            <td>{{formatter.format(booking.item_data.totalAmount)}}</td>
                            <td>{{booking.item_data.distFromShop}}km</td>
                            <td v-if="booking.booking_status === 'Picked'"><i class="material-icons text-success">done_all</i></td>
                            <td v-if="booking.booking_status === 'Pending'"><i class="material-icons text-info">pending</i></td>
                            <td v-if="booking.booking_status === 'Incomplete'"><i class="material-icons text-danger">clear</i></td>
                        </tr>
                        <tr v-if="singleBooking" @click.prevent="showBooking(singleBooking)">
                            <td>#</td>
                            <td>{{singleBooking.item_data.itemName}}</td>
                            <td>{{singleBooking.item_data.quantity}}</td>
                            <td>{{formatter.format(singleBooking.item_data.totalAmount)}}</td>
                            <td>{{singleBooking.item_data.distFromShop}}km</td>
                            <td v-if="singleBooking.booking_status === 'Picked'"><i class="material-icons text-success">done_all</i></td>
                            <td v-if="singleBooking.booking_status === 'Pending'"><i class="material-icons text-info">pending</i></td>
                            <td v-if="singleBooking.booking_status === 'Incomplete'"><i class="material-icons text-danger">clear</i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="row justify-content-center" v-if="bookingsObj && singleBooking == null">
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li :class="{'disabled': bookingsObj.prev_page_url == null, 'page-item': true}">
                                <a @click.prevent="getBookings(bookingsObj.prev_page_url)" href="#" class="page-link">Previous</a>
                            </li>
                            <li :class="{'disabled': bookingsObj.next_page_url == null, 'page-item': true}">
                                <a @click.prevent="getBookings(bookingsObj.next_page_url)" class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div>
                <div v-if="!bookings.length && singleBooking == null" class="text-center font-italic text-muted">No bookings yet</div>
            </div>

        </div>
   </div>
</template>

<script>
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
export default {
    data(){
        return{
            bookings: [],
            searchTerm: null,
            singleBooking: null,
            bookingsObj: null,
            loader: {
                loading: false,
                color: "#e48e0c"
            },
        }
    },
    mounted(){
        this.getBookings();
    },
    methods: {
        getBookings: function(page_url){
            this.loader.loading = true
            let url = page_url || this.pathOrigin+'/m/get_bookings'
            axios.get(url)
            .then(res => {
                res.data.data.data.map(booking => {
                    booking.item_data = JSON.parse(booking.item_data)
                })
                this.bookings = res.data.data.data
                this.bookingsObj = res.data.data
                this.loader.loading = false
            })
            .catch(err => {
                this.loader.loading = false
                console.log(err)
            })
        },
        showBooking: function(booking){
            window.location = `${this.pathOrigin}/m/show-booking/${booking.id}/${booking.item_data.itemName}`
        },
        searchWithBookCode: function () {
            if (this.searchTerm) {
                this.loader.loading = true
                axios.post(`${this.pathOrigin}/m/search_booking`, {orderCode: this.searchTerm})
                .then(res => {
                    console.log(res.data)
                    this.loader.loading = false
                    if (res.data.data != null) {
                        this.bookings = []
                        res.data.data.item_data = JSON.parse(res.data.data.item_data)
                        this.singleBooking = res.data.data
                    }else{
                        console.log("res.data in null")
                    }
                })
                .catch(err => {
                    console.log(err)
                })
            }
        }
    },
    computed: {
        formatter: function(){
            return new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'NGN',
                minimumFractionDigits: 2
            })
        }
    },
    components:{
        ClipLoader,
    }
}
</script>
