<template>
   <div class="dashboard-main-content mt-0">
       <div class="overview" v-if="item">
           <h2 class="subtitle mb-4 text-center text-uppercase">
                <input type="text" class="form-control subtitle mb-4  text-uppercase" v-model="item.name">
           </h2>
           <!-- <h3 class="subtitle mb-4">Overview</h3> -->
	    	<div class="row mt-5">
            <!-- item cost -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Cost</span>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="item.amount" >
                            <!--<span class="h2">{{formatter.format(item.amount)}}</span> -->
                        </div>
                    </div>
                </div>
               <!-- sold in -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Sold In</span>
                        </div>
                        <div class="card-body">
                            <select v-model="item.sold_in" class="form-control" >
                                <option>retail</option>
                                <option>wholesale</option>
                            </select>
                            <!--<span class="h2">{{item.sold_in}}</span> -->
                        </div>
                    </div>
                </div>
                <!-- initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Category</span>
                        </div>
                        <div class="card-body" v-if="itemcategories.length">
                            <select v-model="item.category.item" class="form-control" >
                                <option v-for="(itemcategory,i) in itemcategories" :key="i">
                                    {{itemcategory}}
                                </option>
                            </select>
                            <!-- <span class="h2">{{item.category.item}}</span> -->
                        </div>
                    </div>
                </div>
	    	</div>

            <!-- row two -->
            <div class="row mt-5">
            <!-- item initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Initial Stock</span>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="item.available_in_stock" >
                            <!--<span class="h2">{{item.available_in_stock}}</span> -->
                        </div>
                    </div>
                </div>
               <!-- sold items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Sold Stock</span>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="item.sold" >
                            <!--<span class="h2">{{item.sold ? item.sold : 0}}</span> -->
                        </div>
                    </div>
                </div>
                <!-- vailble items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Available Stock</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{availableItems}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center" v-if="item.images">
            <!-- item images -->
                <input type="file" accept="image/*" @change="saveImage($event)" style="display: none" id="chooseImage">
                <h4 class="subtitle mb-4 text-center text-uppercase col-12">item Images</h4>
                <div id="addImage" style="display: none;" class="row col-12 justify-content-center">
                    <div v-for="(spaces,i) in imageSpacesLeft" :key="i" class="mt-3" style="cursor: pointer;">
                        <div class="col-md-2 col-lg-3 ">
                            <div class="upload-inventory-item " id="inventory-image2">
                                <img src="" alt="inventory-image" style="display: none; width:260px; height: 250px" id="functionn">
                                <input @change="addNewImage($event)" type="file" :name="'upload'+i" :id="'upload'+i" accept="image/*">
                                <label :for="'upload'+i" class="edit-mode">
                                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                    </svg>

                                </label>
                            </div>
                        </div>
                        <!-- <button id="addImageBtn" class="btn btn-light">Choose Image</button>
                        <img src="" alt="image prev" style="display:none" class="img-fluid"> -->
                    </div>
                </div>
                <!-- <input id="addImage" type="file" accept="image/*" @change="addNewImage($event)" style="display:none;"> -->
                <div class="col-md-2 col-lg-3 text-center mt-3" v-for="(image, index) in item.images" :key="index">
                    <!-- <div class="card overview-card"> -->
                        <!-- <div class="card-body"> -->
                            <div class="item-image-cover edit">
                                <img :ref="index"  :src="image"  alt="Item Images">
                                <div class="action">
                                    <button @click.prevent="changeImage(image, index)" class="btn btn-sm bg-white small mr-4 mt-3">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button @click.prevent="deleteImage(image, index)" class="btn btn-sm bg-danger text-white small mr-4 mt-3">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center">
            <!-- item images -->
                <!-- <h4 class="subtitle mb-4 text-center text-uppercase col-12">Actions</h4> -->
                <!-- <div class="col-md-3">
                </div> -->
                <button v-if="imageSpacesLeft.length" @click.prevent="startImageChangeProcess()" class="btn btn-secondary mr-5 mt-3">Add Image(s)</button>
                <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                <button @click.prevent="saveChanges()" id="saveChanges" class="btn btn-primary mt-3">Save Changes</button>
            </div>

        </div>
   </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: ['id'],
        data(){
            return{
                item: null,
                itemcategories: [],
                clickedImageId: null,
                imageEl: null,
            }
        },
        mounted(){
            this.getItem();
            this.getItemCategories();
        },
        methods: {
            attachListners: function(){
                console.log("this function had been called here")
                $('button#addImageBtn').click(function(){
                    $('input#addImage').click()
                })
            },
            startImageChangeProcess: function(){
                $('#addImage').css('display', 'flex')
                // this.attachListners();
            },
            addNewImage: function(e){
                var vue = this;
                var tis = $(e.target)
                var el = tis.parent().attr('id');
                this.loader.loading = true

                var reader, file = e.target.files[0];
                let type = file.type.split('/')[0];

                var fd = new FormData();
                fd.append('image', file)
                fd.append('itemId', vue.item.id)
                fd.append('model', 'item')

                reader = new FileReader();
                reader.onload = (e) => {
                    let src = e.target.result
                    if (type == 'image') {
                        let element = '#'+el
                        $(element).find('img').attr('src', src).show()
                        $(element).find('label').hide()
                    }else{
                        $('p#imageErr').text('File is not a valid image file');
                    }
                    // vue.item.images.push(src)

                    axios.post(`${this.pathOrigin}/file/add_new_image`, fd)
                    .then(res => {
                        // this.item = res.data
                        alert("image added successfully")
                        location.reload()
                    })
                    .catch(err => {
                        alert("Unable to complete operation")
                        console.log(err)
                        this.loader.loading = false
                    })
                }

                reader.readAsDataURL(file)
            },
            saveImage: function(e){
                var imageEl, reader, type, file = e.target.files[0];
                this.loader.loading = true
                imageEl = this.imageEl;
                type = file.type.split('/')[0];
                let fd = new FormData();
                fd.append('newImage', file)
                fd.append('oldImage', this.clickedImageUrl)
                fd.append('itemId', this.item.id)
                fd.append('index', this.imageEl)
                fd.append('model', 'item')
                reader = new FileReader()
                reader.onload = (e) => {
                    let src = e.target.result;
                    if(type === 'image'){
                        $(this.$refs[imageEl]).attr('src', src)
                        axios.post(`${this.pathOrigin}/file/change_this_image/`, fd)
                        .then(res=>{
                            alert("image saved successfully")
                            location.reload()
                            alert("image saved successfully")
                            // console.log("File saved successfully!")
                        })
                        .catch(err=>{
                            alert("Unable to complete operation")
                            console.log(err)
                            this.loader.loading = false
                        })
                    }else{
                        alert("Not a valid image file detected")
                    }
                }

                reader.readAsDataURL(file)
            },
            changeImage: function(url, el){
                this.clickedImageUrl = url;
                this.imageEl = el
                $('input#chooseImage').click();
            },
            deleteImage: function(url, index){
                if (!confirm("Are you sure you want to delete this image?")) {
                    return
                }
                this.loader.loading = true
                var fd = {imageUrl: url, model: 'item', itemId: this.item.id}
                axios.post(`${this.pathOrigin}/file/delete_image`, fd)
                .then(res=>{
                    alert("image deleted successfully")
                    // this.item = res.data.data
                    // this.item.images = this.item.images.split(',')
                    location.reload()
                })
                .catch(err=>{
                    alert("Unable to complete operation")
                    console.log(err)
                    this.loader.loading = false
                })
            },
            getItemCategories: function () {
                axios.get(this.pathOrigin+'/m/get_items_categories')
                .then( res => {
                    this.itemcategories = [...new Set(res.data.data)]
                })
                .catch(err => {
                    this.toaster("unable to fetch data", 'error')
                })
            },
            getItem: function () {
                axios.get(`${this.pathOrigin}/m/get_inventory-item/${this.id}`)
                .then(res => {
                    this.item = res.data.data
                    if (this.item.images != null && this.item.images != "") {
                        this.item.images = this.item.images.split(',')
                    }else {
                        this.item.images = []
                    }
                    
                })
                .catch( err => {
                    console.log(err)
                })
            },
            itemIsOutOfStock: function ()
            {
                axios.post(`${this.pathOrigin}/item_is_out_of_stock`, {'itemId': this.item.id})
                .then(res => {
                    location.reload();
                })
                .catch(err => {
                    console.log(err)
                })
            },
            deleteItem: function ()
            {
                if (confirm("Are sure you want to delete this item?")) {
                    axios.post(`${this.pathOrigin}/delete_item`, {'itemId': this.item.id})
                    .then(res => {
                        alert("item deleted successfully!")
                        setTimeout( () => { wndow.location.href = `${this.pathOrigin}/m`}, 3000)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                }
            },
            saveChanges: function ()
            {
                $('button#saveChanges').attr('disabled', true)
                this.loader.loading = true
                axios.post(`${this.pathOrigin}/m/update_inventory`, this.item)
                .then(res => {
                    this.loader.loading = false
                    // $('button#saveChanges').attr('disabled', true)
                    this.toaster("Item updated successfully", 'success')
                    $('button#saveChanges').attr('disabled', false)
                })
                .catch(err => {
                    $('button#saveChanges').attr('disabled', false)
                    this.loader.loading = false
                    console.log(err)
                })
            },
            toaster: function (message, type) {
                Vue.$toast[type](message, {
                    position: 'top-right'
                })
            }
        },
        computed: {
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            },
            availableItems: function () {
                let availableItems = this.item.available_in_stock - this.item.sold;
                 availableItems = availableItems < 0 ? 0 : availableItems

                 return availableItems;
            },
            imageSpacesLeft: function(){
                var arr = [];
                let imagesCount = this.item.images.length;
                let maxNumber = 5;
                let diff = maxNumber - imagesCount;

                for(var i = 0; i < diff; i++){
                    arr.push(i)
                }

                return arr;
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>


<style lang="scss" scoped>
    input,select{
        border: 1px solid #bdbdbd;
        font-size: 1.2rem;

    }
</style>
