<template>
   <div class="dashboard-main-content mt-0">

        <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="modal" icon="info">
            Welcome to <strong>{{shop.shop_name}}</strong>
            <button @click="closeModal" class="btn btn-secondary" slot="button">Thank You</button>
        </sweet-modal>

       <div class="overview">
           <h2 class="subtitle mb-4">{{shop.shop_name}}</h2>
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row" v-if="items.length">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Inventories</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{items[0].totalInventoryCount}}</span>
                        </div>
                        <div class="card-footer">
                            <a href="/m/manage-inventory" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Inventory</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
                   <!-- shop performance -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Shop Status</span>
                        </div>
                        <div class="card-body">
                            <p>
							    <on-and-off :manager="true" :shopKey="items[0].shopKey"></on-and-off>
						    </p>
                        </div>
                        <div class="card-footer">
                            <span class="font-weight-bold btn small">
                               toggle to open/close
                            </span>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- little inventory -->

        <div class="dashboard-row">
            <h3 class="subtitle">Inventories</h3>



            <!-- item previews -->
            <transition name="slide-up">
                <div class="item-preview" v-if="selectedItem.show">
                    <span class="close" @click="selectedItem.show = false">&times;</span>
                    <div class="image">
                        <img width="100%" :src="selectedItem.image" alt="">
                    </div>

                    <div class="item-preview-info">
                        <div class="mb-3">
                            <p class="subtitle">{{selectedItem.name}}</p>
                            <span class="price">{{formatter.format(selectedItem.amount)}}</span> |
                            <span class="stock"> {{selectedItem.stock}} stocks available</span>
                        </div>

                        <a :href="`${pathOrigin}/m/edit_item/${selectedItem.id}/${selectedItem.name}`" class="btn btn-secondary mr-3">Edit</a>
                        <a :href="`${pathOrigin}/m/show-inventory-item/${selectedItem.id}/${selectedItem.name}`" class="btn btn-primary">view</a>
                    </div>
                    
                </div>
            </transition>

            
            <!-- inventory table -->
            <div class="w-100" style="overflow-x: auto">

                <table class="table table-borderless table-dashboard">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr v-for="(item,i) in items" :key="i" @click="selectItem(item, i)">
                            <td>#</td>
                            <td>{{item.name}}</td>
                            <!-- ignore the calculation -->
                            <td>{{ formatter.format(item.amount) }}</td>
                            <td>{{item.available_in_stock}}</td>
                            <td>
                                <img :src="item.image" alt="" width="39px" height="35px" class="rounded item-thumbnail">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <a href="/m/manage-inventory" class="btn btn-primary">manage inventory</a>
            </div>

        </div>
   </div>
</template>

<script>
    // import { SweetModal } from 'sweet-modal-vue'
    import OnAndOff from '../shared/OnAndOff.vue'
    export default {
        props: ['shop'],
        data(){
            return{
                items:[],
                selectedItem: {
                    show: false,
                    name: '',
                    price: '',
                    url: '',
                    stock: ''
                }
            }
        },
        mounted(){
            if ( this.cookieGreeting == '' ) {
                console.log(this)
                this.$refs.modal.open();
            }
            this.getLatestInventry();
        },
        methods: {
            getLatestInventry: function () {
                axios.get(this.pathOrigin+'/m/get_latest_inventory')
                .then(res => {
                    this.items = res.data.data
                    this.items.map( item => {
                        if(item.images){
                            item.image = item.images.split(',')[0]
                        }else{
                            item.image = 'https://res.cloudinary.com/daemoncoder/image/upload/v1623020424/lonux-shop-medium_z2txor.jpg'
                        }
                    })
                })
                .catch( err => {
                    console.log(err)
                })
            },
            selectItem(item, i){
                this.selectedItem.show = true
                this.selectedItem.name = item.name
                this.selectedItem.amount = item.amount
                this.selectedItem.stock = item.available_in_stock;
                this.selectedItem.image = item.image
                this.selectedItem.id = item.id
            },
            closeModal: function () {
                this.setCookie('greeting', 'done', 15)
                this.$refs.modal.close()
            },
            setCookie: function(name,value,exdays){
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = name + "=" + value + ";" + expires + ";path=/";
            },
        },
        computed: {
            cookieGreeting: function(){
                var name = "greeting" + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                    }
                }
                return "";
            },
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            }
        },
        components: {
            // SweetModal,
            OnAndOff
        }
    }
</script>

<style scoped>
    .small{
        margin: 0px;
    }
</style>