<template>
   <div class="dashboard-main-content mt-0">

       <div class="overview">
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Inventories</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">215</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Inventory</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- little inventory -->

        <div class="dashboard-row">
            <h3> {{items.length}} Inventory Categories</h3>
            <div class="row justify-content-end">
                <div class="col-md-4">
                    <form action="#">
                        <div class="form-group">
                            <input type="search" class="form-control border" placeholder="search...">
                        </div>
                    </form>
                </div>
            </div>

            <!-- inventory table -->

            <table class="table table-borderless table-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Stock(initial)</th>
                        <th scope="col">Sold</th>
                        <th scope="col">Stocks(available)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr @click.prevent="showItem(item)" v-for="(item,i) in items" :key="i">
                        <td>#</td>
                        <td>{{item.name}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.available_in_stock}}</td>
                        <td>{{item.sold}}</td>
                        <td>{{item.available_in_stock - item.sold}}</td>
                    </tr>
                </tbody>
            </table>

            <!-- <div class="text-center"> -->

                <!-- pagination  -->
                <!-- <nav aria-label="inventory-pagination" class="text-center">
                    <ul class="pagination d-inline-flex" >
                        <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Previous" tabindex="-1">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                        </li>
                    </ul>
                </nav> -->
            <!-- </div> -->

        </div>
   </div>
</template>

<script>

export default {
    props: ['id'],
    data(){
        return{
            items:[
                { name:'Shock'},{name:'Joysticks'},{ name:'Controllers'},{name:'Consoles'},{name:'Discs'},{ name:'Controllers'},{ name:'Shock'}
                ]
        }
    },
    mounted(){
        this.getCategoryItems();
    },
    methods: {
        getCategoryItems: function () {
            axios.get(`${this.pathOrigin}/m/get_category_items/${this.id}`)
            .then( res => {
                this.items = res.data.data
            })
            .catch( err => {
                console.log(err)
            })
        },
        showItem: function (item) 
        {
            window.location.href = `${this.pathOrigin}/m/show-inventory-item/${item.id}/${item.name}`
        }
    }
}
</script>