<template>
   <div class="dashboard-main-content mt-0">

       <div class="overview">
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Inventories</span>
                        </div>
                        <div class="card-body" v-if="items.length">
                            <span class="h2">{{items[0].totalInventoryCount}}</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Inventory</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- little inventory -->

        <div class="dashboard-row">
            <h3> {{items.length}} Inventory Categories</h3>

            <!-- inventory table -->
            <table class="table table-borderless table-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Number of Items</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item,i) in items" :key="i" @click.prevent="showCategoryItems(item)">
                        <td>#</td>
                        <td>{{item.item}}</td>
                        <td>{{item.itemsCount}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
   </div>
</template>

<script>

export default {
    data(){
        return{
            items:[]
        }
    },
    mounted(){
        this.getShopItemsCategory();
    },
    methods: {
        getShopItemsCategory: function () {
            axios.get(this.pathOrigin+'/m/get_shop_items_category')
            .then( res => {
                this.items = res.data.data
            })
            .catch( err => {
                console.log(err)
            })
        },
        showCategoryItems: function (item)
        {
            window.location.href = `${this.pathOrigin}/m/manage-inventory/${item.id}/${item.item}`
        }
    }
}
</script>