<template>
    <div class="dashboard-main-content mt-0">

        <div class="inventory">
           <div class="inventory-header">
               <h4>New inventory</h4>

               <a href="" class="inventory-header-view text-dark">
                   <span class="icon">
                       <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5ZM12 17C9.24 17 7 14.76 7 12C7 9.24 9.24 7 12 7C14.76 7 17 9.24 17 12C17 14.76 14.76 17 12 17ZM12 9C10.34 9 9 10.34 9 12C9 13.66 10.34 15 12 15C13.66 15 15 13.66 15 12C15 10.34 13.66 9 12 9Z" fill="#333333"/>
                        </svg>
                   </span>

                   <span>view inventory</span>
               </a>
           </div>

            <div class="dashboard-row" v-if="errors.length">
                <div class="inventory-data-actions text-danger">
                    <p v-for="(error,index) in errors" :key="index">{{error}}</p>
                </div>
            </div>


            <!-- add inventory -->

            <div class="dashboard-row">
                <h6 class="mb-3"> Add inventory</h6>

                <form>
                    <div class="row mb-4">
                        <div class="col-md-5">
                            <div class="form-group">
                                <input v-model="formdata.item_category" list="itemsCategory" placeholder="item category" class="form-control border">
                                <datalist id="itemsCategory" v-if="itemcategories.length">
                                    <option v-for="(itemcategory,index) in itemcategories" :key="index" :value="itemcategory"></option>
                                </datalist>
                                <!-- <select name="category" v-model="formdata.item_category" id="category" class="custom-select"> -->
                                    <!-- <option :value="null" selected>item category</option> --> 
                                    <!-- <option value="gadget">Gadget</option> -->
                                <!-- </select> -->
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select name="saletype" v-model="formdata.item_sold_in" id="saletype" class="custom-select">
                                    <!-- <option :value="null" selected>Items solid in</option> -->
                                    <option value="wholesale">Whole sale</option>
                                    <option value="retail">Retail</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row mt-5">
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" v-model="formdata.item_name" class="form-control border" placeholder="Name of item">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" v-model="formdata.item_cost" class="form-control border" placeholder="Item Cost">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="number" v-model="formdata.item_stock" class="form-control border" placeholder="Stock">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" v-model="formdata.upc" class="form-control border" placeholder="UPC (optional)">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea v-model="formdata.desc" placeholder="Any Other Info ?" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="mb-4">
                        <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center pl-0">
                                <span class="d-inline-block mr-2">Add more fields</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>
                         </a>
                    </div> -->
                    <p class="subtitle mt-4">Upload images</p>

                    <div class="upload-inventory mb-5">
                        <div class="upload-inventory-item" id="inventory-image1">
                            <img src=""  alt="inventory-image" style="display: none; width: 145px; height: 129px" id="function">
                            <input type="file" name="upload1" id="upload1" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image2">
                            <img src=""  alt="inventory-image" style="display: none; width: 145px; height: 129px" id="functionn">
                            <input type="file" name="upload1" id="upload2" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image3">
                            <img src=""  alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload3" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image4">
                            <img src=""  alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload4" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                        <div class="upload-inventory-item" id="inventory-image5">
                            <img src=""  alt="inventory-image" style="display: none; width: 145px; height: 129px">
                            <input type="file" name="upload1" id="upload5" accept="image/*">
                            <label for="upload1">
                                <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                </svg>

                            </label>
                        </div>
                    </div>

                    <div class="text-center">
                        <button v-if="showSubmitButton" id="submitBtn" @click.prevent="saveItem" type="submit" class="btn btn-primary">Save</button>
                        <button v-else type="button" class="btn btn-light mr-3 disabled">save</button>
                        <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    import { SweetModal } from 'sweet-modal-vue'
    export default {
        data(){
            return{
               formdata: {},
               fd: new FormData(),
               errors: [],
               itemcategories: [],
               sweetmodalProps: {
                    type: "info",
                    errorMsg: '',
                    componentKey: 0,
                    showComponent: true,
                }
            }
        },
        mounted(){
            let vue = this
            $('label').click(function (e) {
                e.preventDefault()
                let tis = $(this)
                let fileInput = tis.prev()
                let divId = tis.parent().attr('id');
                fileInput.click();
                fileInput.change( function(e) {
                    vue.processImage(e, divId)
                } )
                // console.log($(this), divId, fileInput)
            })
            $('img').click(function (e) {
                e.preventDefault()
                let tis = $(this)
                let fileInput = tis.next()
                let divId = tis.parent().attr('id');
                fileInput.click();
                fileInput.change( function(e) {
                    vue.processImage(e, divId)
                } )
                // console.log($(this), divId, fileInput)
            })

            // get itemcategories
            this.getItemCategories();
        },
        methods: {
            getItemCategories: function () {
                axios.get(this.pathOrigin+'/m/get_items_categories')
                .then( res => {
                    this.itemcategories = res.data.data
                })
                .catch(err => {
                    this.toaster("unable to fetch data", 'error')
                })
            },
            processImage: function (e, el) {
                let reader,file = e.target.files[0]
                var type = file.type.split('/')[0]
                let imageName = 'image'+el[el.length-1]
                this.fd.set(imageName, file)

                // preview image
                reader = new FileReader()
                    reader.onload = (e) => { 
                        var src = e.target.result
                        if (type == 'image') {
                            console.log(el)
                            let element = '#'+el
                            $(element).find('img').attr('src', src).show()
                            $(element).find('label').hide()
                        }else{
                            $('p#imageErr').text('File is not a valid image file');
                        }
                }
                reader.readAsDataURL(file)
            },
            saveItem: function () {
                $('button#submitBtn').attr('disabled', true)
                this.loader.loading = true
                this.errors = []
                // set values
                this.fd.set('item_category', this.formdata.item_category)
                this.fd.set('item_sold_in', this.formdata.item_sold_in)
                this.fd.set('item_name', this.formdata.item_name)
                this.fd.set('item_cost', this.formdata.item_cost)
                this.fd.set('item_stock', this.formdata.item_stock)
                if(this.formdata.upc != undefined){
                    this.fd.set('upc', this.formdata.upc)
                }
                if (this.formdata.desc != undefined) {
                    this.fd.set('desc', this.formdata.desc)
                }
                this.fd.set('is_from', 'web')

                // make request
                axios.post(this.pathOrigin+'/m/add_inventory', this.fd)
                .then(res => {
                    this.loader.loading = false
                    this.formdata = {},
                    this.fd = new FormData();
                    this.resetImgs();
                    this.toaster("item saved successfully", 'success');
                    $('button#submitBtn').attr('disabled', false)
                })
                .catch(error => {
                    this.loader.loading = false
                    if(error.response.data.errors){
                        if (typeof error.response.data.errors.item_category != 'undefined') {
                            this.errors.push(error.response.data.errors.item_category[0])
                        }else if (typeof error.response.data.errors.item_sold_in != 'undefined') {
                            this.errors.push(error.response.data.errors.item_sold_in[0])
                        }else if (typeof error.response.data.errors.item_name != 'undefined') {
                            this.errors.push(error.response.data.errors.item_name[0])
                        }else if (typeof error.response.data.errors.item_cost != 'undefined') {
                            this.errors.push(error.response.data.errors.item_cost[0])
                        }else if (typeof error.response.data.errors.item_stock != 'undefined') {
                            this.errors.push(error.response.data.errors.item_stock[0])
                        }else{
                            this.errors.push('Server error occured. Please try again')
                        }
                    }else{
                        this.errors.push('Server error occured. Please try again')
                        window.scrollTo(0, 0);
                    }
                    $('button#submitBtn').attr('disabled', false)
                    console.log(error)
                })
            },
            resetImgs: function () {
                let imagSrc = $('img')
                $.each( imagSrc, function(index, element) {
                    $(element).attr('src', '').hide()
                    $(element).next().next().show()
                });
                
            },
            toaster: function (message, type) {
                Vue.$toast[type](message, {
                    position: 'bottom-right'
                })
            }
        },
        computed: {
            showSubmitButton: function () {
                return this.formdata.item_category != null && this.formdata.item_sold_in != null && this.formdata.item_name != null && this.formdata.item_cost != null && this.formdata.item_stock != null;
            }
        },
        components: {
            ClipLoader,
            SweetModal,
        }
    }
</script>