<template>
   <div class="dashboard-main-content mt-0">
       <div class="overview" v-if="item">
           <!--<h2 class="subtitle mb-4 text-uppercase">{{item.item_data.itemName}}</h2>
             <h3 class="subtitle mb-4">Overview</h3> -->
	    	<div class="row mt-5">
            <!-- item cost -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Name</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.item_data.itemName}}</span>
                        </div>
                    </div>
                </div>
               <!-- sold in -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Total Cost</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{formatter.format(item.item_data.totalAmount)}}</span>
                        </div>
                    </div>
                </div>
                <!-- initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Buying In</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.item_data.buyingIn == 'both' ? 'retail' : item.item_data.buyingIn}}</span>
                        </div>
                    </div>
                </div>
	    	</div>

            <!-- row two -->
            <div class="row mt-5">
            <!-- item initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Quantity</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.item_data.quantity}}</span>
                        </div>
                    </div>
                </div>
               <!-- sold items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Customer Distance From Shop</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.item_data.distFromShop}}km</span>
                        </div>
                    </div>
                </div>
                <!-- status -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Booking Status</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.booking_status}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center">
            <!-- item images -->
                <!-- <h4 class="subtitle mb-4 text-center text-uppercase col-12">Actions</h4> -->
                <!-- <hr> -->
                <!-- <div class="col-md-3">
                </div> -->
                <button v-if="item.booking_status === 'Pending'" @click.prevent="itemWasPicked()" class="btn bg-white  mr-4 mt-3">Item has been picked</button>
                <button v-if="item.booking_status === 'Pending'" @click.prevent="customerDidntCome()" class="btn btn-danger mr-4 mt-3">Customer didn't come</button>
            </div>
            <br>
            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>

        </div>
   </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: ['id'],
        data(){
            return{
                item: null,
            }
        },
        mounted(){
            this.getBookedItem();
        },
        methods: {
            getBookedItem: function () {
                axios.get(`${this.pathOrigin}/m/get_booked_item/${this.id}`)
                .then(res => {
                    this.item = res.data.data
                    this.item.item_data = JSON.parse(this.item.item_data)
                })
                .catch( err => {
                    console.log(err)
                })
            },
            itemWasPicked: function ()
            {
                this.loader.loading = true;
                let formdata = {}
                formdata.boughtIn = this.item.item_data.buyingIn == 'both' ? 'retail' : this.item.item_data.buyingIn;
                formdata.buying_channel = "Booking";
                formdata.pickup_mode = 'Customer Pickup';
                formdata.itemId = this.item.id;
                formdata.shop_items_id = this.item.shop_items_id
                formdata.user_id = this.item.user_id
                formdata.quantity = this.item.item_data.quantity

                axios.post(`${this.pathOrigin}/m/item_was_picked`, formdata)
                .then(res => {
                    this.loader.loading = false;
                    this.getBookedItem()
                })
                .catch(err => {
                    this.loader.loading = false;
                    console.log(err)
                })
            },
            customerDidntCome: function ()
            {
                this.loader.loading = true;
                axios.post(`${this.pathOrigin}/m/customer_didnt_come`, {itemId: this.item.id})
                .then(res => {
                    this.loader.loading = false;
                    this.getBookedItem();
                })
                .catch(err => {
                    this.loader.loading = false;
                    console.log(err)
                })
            },
            deleteItem: function () 
            {
                if (confirm("Are sure you want to delete this item?")) {
                    this.loader.loading = true
                    axios.post(`${this.pathOrigin}/m/delete_item`, {'itemId': this.item.id})
                    .then(res => {
                        alert("item deleted successfully!")
                        setTimeout( () => { window.location.href = `${this.pathOrigin}/m`}, 1000)
                    })
                    .catch(err => {
                        this.loader.loading = false
                        console.log(err)
                    })
                }
            },
            editItem: function () 
            {
                window.location.href = `${this.pathOrigin}/m/edit_item/${this.item.id}/${this.item.name}`
            }
        },
        computed: {
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>