<template>
   <div class="dashboard-main-content mt-0">
       <div class="overview" v-if="item">
           <h2 class="subtitle mb-4 text-uppercase">{{item.name}}</h2>
           <!-- <h3 class="subtitle mb-4">Overview</h3> -->
	    	<div class="row mt-5">
            <!-- item cost -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Cost</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{formatter.format(item.amount)}}</span>
                        </div>
                    </div>
                </div>
               <!-- sold in -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Sold In</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.sold_in}}</span>
                        </div>
                    </div>
                </div>
                <!-- initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Item Category</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.category.item}}</span>
                        </div>
                    </div>
                </div>
	    	</div>

            <!-- row two -->
            <div class="row mt-5">
            <!-- item initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Initial Stock</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.available_in_stock}}</span>
                        </div>
                    </div>
                </div>
               <!-- sold items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Sold Stock</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.sold}}</span>
                        </div>
                    </div>
                </div>
                <!-- vailble items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Available Stock</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{item.available_in_stock - item.sold}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center" v-if="item.images">
            <!-- item images -->
                <h4 class="subtitle mb-4 text-center text-uppercase col-12">item Images</h4>
                <div class="col-md-3 text-center mt-3" v-for="(image, i) in item.images" :key='i'>
                    <!-- <div class="card overview-card"> -->
                        <div class="item-image-cover">
                            <img :src="image" alt="Item Images">
                        </div>
                    <!-- </div> -->
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center">
            <!-- item images -->
                <!-- <h4 class="subtitle mb-4 text-center text-uppercase col-12">Actions</h4> -->
                <!-- <hr> -->
                <!-- <div class="col-md-3">
                </div> -->
                <button @click.prevent="editItem()" class="btn bg-white  mr-4 mt-3">Edit Item</button>
                <button @click.prevent="itemIsOutOfStock()" class="btn bg-white  mr-4 mt-3">Out of Stock</button>
                <button @click.prevent="deleteItem()" class="btn btn-danger mr-4 mt-3">Delete Item</button>
            </div>
            <br>
            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>

        </div>
   </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: ['id'],
        data(){
            return{
                item: null,
            }
        },
        mounted(){
            this.getItem();
        },
        methods: {
            getItem: function () {
                axios.get(`${this.pathOrigin}/m/get_inventory-item/${this.id}`)
                .then(res => {
                    this.item = res.data.data
                    this.item.images = this.item.images.split(',')
                })
                .catch( err => {
                    console.log(err)
                })
            },
            itemIsOutOfStock: function ()
            {
                this.loader.loading = true;
                axios.post(`${this.pathOrigin}/m/item_is_out_of_stock`, {'itemId': this.item.id})
                .then(res => {
                    location.reload();
                })
                .catch(err => {
                    this.loader.loading = false;
                    console.log(err)
                })
            },
            deleteItem: function () 
            {
                if (confirm("Are sure you want to delete this item?")) {
                    this.loader.loading = true
                    axios.post(`${this.pathOrigin}/m/delete_item`, {'itemId': this.item.id})
                    .then(res => {
                        alert("item deleted successfully!")
                        setTimeout( () => { window.location.href = `${this.pathOrigin}/m`}, 1000)
                    })
                    .catch(err => {
                        this.loader.loading = false
                        console.log(err)
                    })
                }
            },
            editItem: function () 
            {
                window.location.href = `${this.pathOrigin}/m/edit_item/${this.item.id}/${this.item.name}`
            }
        },
        computed: {
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>