<!-- <template> -->
    <div>
        <!-- <h1>{{chartdata.labels[0]}}</h1> -->
    </div>
<!-- </template> -->

<script>

import { Line, mixins } from 'vue-chartjs'
import {lonuxbus} from '../../app.js'
const { reactiveProp } = mixins

export default {
    extends: Line,
    props:['options'] ,
    mixins: [reactiveProp],
    created(){
        // lonuxbus.$on('spanChange', (data)=>{
        //     this.renderChart(data.chartData, this.options);
        // })
    },
    mounted(){

        // console.log(this.chartdata.labels);

        this.renderChart(this.chartData, this.options)
     
    } 
}
</script>