<template>
   <div class="dashboard-main-content mt-0">

       <div class="overview">
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Inventories</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">215</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Inventory</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>

                <!-- shop performance -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Shop performance</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">20%</span>
                            <span class="icon">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.33317 3.5L10.669 4.83583L7.82234 7.6825L5.489 5.34917L1.1665 9.6775L1.989 10.5L5.489 7L7.82234 9.33333L11.4973 5.66417L12.8332 7V3.5H9.33317Z" fill="#27AE60"/>
                                </svg>

                            </span>
                        </div>
                        <div class="card-footer">
                            <span class="font-weight-bold btn">
                                Last 6 months
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Last logged in</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">3hrs ago</span>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view log</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- last item-->

        <div class="dashboard-row">
            <h5>Last added item</h5>

            <div class="last-item">
                <div class="image">
                    <img src="https://picsum.photos/145/129" alt="item image">
                </div>
                <div class="detail">
                    <div class="detail-tag">
                        <span>{{lastItem.name}}</span>
                        <span>N{{lastItem.price}}</span>
                        <span>{{lastItem.stock}} in stock</span>
                    </div>
                    <a href="#" class="btn btn-secondary">edit</a>
                </div>
            </div>

        </div>


        <!-- chart progress -->

        <div class="dashboard-row">
            <h5>Shop performance</h5>

            <div class="row justify-content-end">
                <div class="col-md-4">
                    <form action="#">
                        <div class="form-group">
                            <select name="timeframe" @change="timeFrameChange" v-model="timeFrame" id="timeframe" class="custom-select">
                                <option value="6" selected> last 6 month</option>
                                <option value="12" > last year</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>

            <div class="statistics-chart">

                <stats-chart    :options="options"/>
                <!-- <stats-chart /> -->
                
            </div>
        </div>
   </div>
</template>

<script>

import statsChart from './statsChart'
import {lonuxbus } from '../../app.js'
export default {
    data(){
        return{
           lastItem: {
               name: 'Shocker C',
               stock: 20,
               price: 2000
           },
           timeFrame: 6,
           chartData: {
               labels: ['January', 'February','March', 'April', 'May', 'June'],
                datasets: [
                    {
                    label: 'statistics',
                    backgroundColor: 'transparent',
                    borderColor: '#A6CEE3',
                    data: [40, 20, 70, 50, 10,100]
                    }
                ]
           },
           options: {
               responsive: true,
               maintainAspectRatio: false
           }
        }
    },
    computed: {
       dataSpan(){
        //    let data = {
        //        labels: [],
        //        data: []
        //    }
           if(this.timeFrame == 6){

                this.chartData.labels = ['January', 'February','March', 'April', 'May', 'June'];
                this.chartData.datasets[0].data = [40, 20, 70, 50, 10,100]; 
           }else if(this.timeFrame == 12){
                data.labels = ['January', 'February','March', 'April', 'May', 'June', 'July', 'August', 'Septemeber','October', 'November','December'];
                data.data = [40, 20, 70, 50, 10,100, 65, 30, 85, 24, 50, 70];    
            }
            return data ;
       }
    },
    methods: {
        timeFrameChange(){
            if(this.timeFrame == 6){

               this.chartData.labels = ['January', 'February','March', 'April', 'May', 'June'];
                this.chartData.datasets[0].data = [40, 20, 70, 50, 10,100]; 
            }else if(this.timeFrame == 12){
                this.chartData.labels = ['January', 'February','March', 'April', 'May', 'June', 'July', 'August', 'Septemeber','October', 'November','December'];
                this.chartData.datasets[0].data = [40, 20, 70, 50, 10,100, 65, 30, 85, 24, 50, 70];    
            }
            lonuxbus.$emit('spanChange', this.chartData);
        }
    },
    components: {
        statsChart
    }
}
</script>