<template>
    <div class="sidebar" :class="{'opened': toggle == true}">
        <a href="/" class="navbar-brand sidebar-head">
            <img :src="pathOrigin + '/img/lonux-logo-01.svg'" alt="Lonux" height="33">
        </a>
        <span class="close" style="cursor:pointer" :class="{'d-inline-block': toggle == true}" @click="toggle = false">
            &times; 
        </span>
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" :href="pathOrigin + '/m'">
                    <i class="material-icons">home</i>
                    Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" :href="pathOrigin + '/m/new-inventory'" >
                    <i class="material-icons">card_travel</i>
                    New inventory   
                </a>
            </li>
            <li class="nav-item">
                <a :href="pathOrigin + '/m/manage-inventory'" class="nav-link">
                    <i class="material-icons">account_circle</i>
                    Manage inventory
                </a>
            </li>
            <li class="nav-item">
                <a :href="pathOrigin + '/m/bookings'" class="nav-link">
                    <i class="material-icons">bookmark</i>
                    Bookings
                </a>
            </li>
            <li class="nav-item">
                <a :href="pathOrigin + '/m/settings'" class="nav-link">
                    <i class="material-icons">insert_chart</i>
                    Settings
                </a>
            </li>
        </ul>

        <ul class="nav flex-column sidebar-extra">
            <!--<li class="nav-item">
                <a href="#" class="nav-link">Settings</a>
            </li> -->
            	<!-- logout form -->
                <form id="logout-form" :action="pathOrigin+'/m/logout'" method="POST" style="display: none;">
                    <input type="text" id="csrf" name="_token">
                </form>
            <li class="nav-item">
                <a href="#" @click.prevent="logout()" class="nav-link text-danger">Logout</a>
            </li>
        </ul>
        
    </div>
</template>

<script>
    import {lonuxbus} from '../../../app'
    export default {

        name: 'SidenavComponent',

        data () {
            return {
                csrf: window.lonux.csrf_token,
                toggle: false
               
            }
        },
        methods:{
            logout: function(){
                $('form#logout-form').find('input#csrf').val(this.csrf)
                $('form#logout-form').submit()
            },
        },
        created(){
            lonuxbus.$on('toggleSidebar', (data)=>{
                this.toggle = true;
                console.log('toggled');
            });
        },
        computed: {
            pageTitle: function(){
                return this.$store.state.page.title
            },

            activeUrl(){
                let url = window.location.href;
                let urlArr = url.split('/');
                let urlFinal = urlArr[urlArr.length -1];

                return urlFinal;
            }
        }
    };
</script>