<template>
   <div class="dashboard-main-content mt-0">
       <div class="overview" v-if="service">
           <h2 class="subtitle mb-4 text-center text-uppercase">
                <input type="text" class="form-control subtitle mb-4  text-uppercase" v-model="service.service_name">
           </h2>
           <!-- <h3 class="subtitle mb-4">Overview</h3> -->
	    	<div class="row mt-5">
            <!-- service cost -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Charge</span>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="service.service_charge" >
                        </div>
                    </div>
                </div>
               <!-- sold in -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Available</span>
                        </div>
                        <div class="card-body">
                            <select v-model="service.service_availability" class="form-control" >
                                <option :selected="service.service_availability === 1" :value="1">Yes</option>
                                <option :selected="service.service_availability == 0" :value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Deliverable</span>
                        </div>
                        <div class="card-body">
                            <select v-model="service.deliverable" class="form-control" >
                                <option :selected="service.deliverable === 1" :value="1">Yes</option>
                                <option :selected="service.deliverable == 0" :value="0">No</option>
                            </select>
                        </div>
                    </div>
                </div>
	    	</div>

            <!-- row two -->
            <div class="row mt-5">
            <!-- service duration -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Duration</span>
                        </div>
                        <div class="card-body">
                            <input type="text" class="form-control" v-model="service.service_duration" >
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center" v-if="service.service_images">
            <!-- service images -->
                <input type="file" accept="image/*" @change="saveImage($event)" style="display: none" id="chooseImage">
                <h4 class="subtitle mb-4 text-center text-uppercase col-12">Service Images</h4>
                <div id="addImage" style="display: none;">
                    <div v-for="(spaces,i) in imageSpacesLeft" :key="i" class="mt-3" style="cursor: pointer;">
                        <div class="col-md-2 col-lg-3 ">
                            <div class="upload-inventory-item " id="inventory-image2">
                                <img src="" alt="inventory-image" style="display: none; width:260px; height: 250px" id="functionn">
                                <input @change="addNewImage($event)" type="file" :name="'upload'+i" :id="'upload'+i" accept="image/*">
                                <label :for="'upload'+i" class="edit-mode">
                                    <svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M27.7087 18.9584H18.9587V27.7084H16.042V18.9584H7.29199V16.0417H16.042V7.29175H18.9587V16.0417H27.7087V18.9584Z" fill="black"/>
                                    </svg>

                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <input id="addImage" type="file" accept="image/*" @change="addNewImage($event)" style="display:none;"> -->
                <div class="col-md-3 text-center mt-3" v-for="(image, index) in service.service_images" :key="index">
                    <!-- <div class="card overview-card"> -->
                        <div class="item-image-cover edit">
                                <img :ref="index"  :src="image"  alt="Item Images">
                                <div class="action">
                                    <button @click.prevent="changeImage(image, index)" class="btn btn-sm bg-white small mr-4 mt-3">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <button @click.prevent="deleteImage(image, index)" class="btn btn-sm bg-danger text-white small mr-4 mt-3">
                                        <i class="material-icons">delete</i>
                                    </button>
                                </div>
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center">
                <button v-if="imageSpacesLeft.length" @click.prevent="startImageChangeProcess()" class="btn btn-secondary mr-5 mt-3">Add Image(s)</button>
                <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
                <button @click.prevent="saveChanges()" id="saveChanges" class="btn btn-primary mt-3">Save Changes</button>
            </div>

        </div>
   </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: ['id'],
        data(){
            return{
                service: null,
                clickedImageId: null,
                imageEl: null,
            }
        },
        mounted(){
            this.getService();
        },
        methods: {
            attachListners: function(){
                console.log("this function had been called here")
                $('button#addImageBtn').click(function(){
                    $('input#addImage').click()
                })
            },
            startImageChangeProcess: function(){
                $('#addImage').css('display', 'flex')
                // this.attachListners();
            },
            addNewImage: function(e){
                var vue = this;
                var tis = $(e.target)
                var el = tis.parent().attr('id');
                console.log($('#'+el))
                // return
                var reader, file = e.target.files[0];
                var type = file.type.split('/')[0]
                this.loader.loading = true
                var fd = new FormData();
                fd.append('image', file)
                fd.append('serviceId', vue.service.id)
                fd.append('model', 'service')

                reader = new FileReader();
                reader.onload = (e) => {
                    let src = e.target.result
                    if (type == 'image') {
                        let element = '#'+el
                        $(element).find('img').attr('src', src).show()
                        $(element).find('label').hide()
                    }else{
                        $('p#imageErr').text('File is not a valid image file');
                    }
                    // vue.service.service_images.push(src)

                    axios.post(`${this.pathOrigin}/file/add_new_image`, fd)
                    .then(res => {
                        // this.service = res.data
                        location.reload()
                        alert("image added successfully")
                    })
                    .catch(err => {
                        console.log('Unable to complete operation')
                        this.loader.loading = false
                        console.log(err)
                    })
                }

                reader.readAsDataURL(file)
            },
            saveImage: function(e){
                this.loader.loading = true
                var imageEl, reader, type, file = e.target.files[0];
                imageEl = this.imageEl;
                type = file.type.split('/')[0];
                let fd = new FormData();
                fd.append('newImage', file)
                fd.append('oldImage', this.clickedImageUrl)
                fd.append('serviceId', this.service.id)
                fd.append('index', this.imageEl)
                fd.append('model', 'service')
                reader = new FileReader()
                reader.onload = (e) => {
                    let src = e.target.result;
                    if(type === 'image'){
                        $(this.$refs[imageEl]).attr('src', src)
                        axios.post(`${this.pathOrigin}/file/change_this_image/`, fd)
                        .then(res=>{
                            alert("image saved successfully")
                            // location.reload()
                            // console.log("File saved successfully!")
                        })
                        .catch(err=>{
                            alert('Unable to complete operation')
                            this.loader.loading = false
                            console.log(err)
                        })
                    }else{
                        alert("Not a valid image file detected")
                    }
                }

                reader.readAsDataURL(file)
            },
            changeImage: function(url, el){
                this.clickedImageUrl = url;
                this.imageEl = el
                $('input#chooseImage').click();
            },
            deleteImage: function(url, index){
                if (!confirm("Are you sure you want to delete this image?")) {
                    return
                }
                this.loader.loading = true
                var fd = {imageUrl: url, model: 'service', serviceId: this.service.id}
                axios.post(`${this.pathOrigin}/file/delete_image`, fd)
                .then(res=>{
                    alert("image deleted successfully")
                    // this.service = res.data.data
                    // this.service.images = this.service.images.split(',')
                    location.reload()
                })
                .catch(err=>{
                    alert('Unable to complete operation')
                    this.loader.loading = false
                    console.log(err)
                })
            },
            getService: function () {
                axios.get(`${this.pathOrigin}/m/service/${this.id}`)
                .then(res => {
                    this.service = res.data.data
                    this.service.service_images = this.service.service_images.split(',')
                })
                .catch( err => {
                    console.log(err)
                })
            },
            deleteService: function ()
            {
                if (confirm("Are sure you want to delete this service?")) {
                    axios.delete(`${this.pathOrigin}/service/${this.id}`)
                    .then(res => {
                        alert("service deleted successfully!")
                        setTimeout( () => { wndow.location.href = `${this.pathOrigin}/m`}, 1000)
                    })
                    .catch(err => {
                        console.log(err)
                    })
                }
            },
            saveChanges: function ()
            {
                $('button#saveChanges').attr('disabled', true)
                this.loader.loading = true
                axios.put(`${this.pathOrigin}/m/service/${this.id}`, this.service)
                .then(res => {
                    this.loader.loading = false
                    // $('button#saveChanges').attr('disabled', true)
                    this.toaster("service updated successfully", 'success')
                    $('button#saveChanges').attr('disabled', false)
                })
                .catch(err => {
                    $('button#saveChanges').attr('disabled', false)
                    this.loader.loading = false
                    console.log(err)
                })
            },
            toaster: function (message, type) {
                Vue.$toast[type](message, {
                    position: 'top-right'
                })
            }
        },
        computed: {
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            },
            imageSpacesLeft: function(){
                var arr = [];
                let imagesCount = this.service.service_images.length;
                let maxNumber = 5;
                let diff = maxNumber - imagesCount;

                for(var i = 0; i < diff; i++){
                    arr.push(i)
                }

                return arr;
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>
<style lang="scss" scoped>
    input,select{
        border: 1px solid #bdbdbd;
        font-size: 1.2rem;

    }
</style>
