<template>
   <div class="dashboard-main-content mt-0">
        <div class="dashboard-row">
            <h3>Total Services: {{services.length}}</h3>

            <!-- inventory table -->
            <table class="table table-borderless table-dashboard">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Service Name</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(service,i) in services" :key="i">
                        <td>#</td>
                        <td>{{service.service_name}}</td>
                        <td><a href="#" @click.prevent="showService(service)">Manage</a></td>
                    </tr>
                </tbody>
            </table>

        </div>
   </div>
</template>

<script>

export default {
    data(){
        return{
            services:[]
        }
    },
    mounted(){
        this.getShopServices();
    },
    methods: {
        getShopServices: function () {
            axios.get(this.pathOrigin+'/m/service/all')
            .then( res => {
                this.services = res.data.data.data
            })
            .catch( err => {
                console.log(err)
            })
        },
        showService: function (service)
        {
            window.location.href = `${this.pathOrigin}/m/show-inventory-item/${service.id}/${service.service_name}`
        }
    }
}
</script>