<template>
   <div class="dashboard-main-content mt-0">

        <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="modal" icon="info">
            Welcome to <strong>{{shop.shop_name}}</strong>
            <button @click="closeModal" class="btn btn-secondary" slot="button">Thank You</button>
        </sweet-modal>

       <div class="overview">
           <h2 class="subtitle mb-4">{{shop.shop_name}}</h2>
           <h3 class="subtitle mb-4">Overview</h3>
	    	<div class="row" v-if="services.length">
            <!-- overview -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>No. of Services</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{services[0].totalServicesCount}}</span>
                        </div>
                        <div class="card-footer">
                            <a href="/m/manage-inventory" class="btn btn-link d-inline-flex justify-content-between align-items-center">
                                <span class="d-inline-block mr-2">view Inventory</span>
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16.01 11H4V13H16.01V16L20 12L16.01 8V11Z" fill="#FD961A"/>
                                </svg>

                            </a>
                        </div>
                    </div>
                </div>
                   <!-- shop performance -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Shop Status</span>
                        </div>
                        <div class="card-body">
                            <p>
							    <on-and-off :manager="true" :shopKey="shop.key"></on-and-off>
						    </p>
                        </div>
                        <div class="card-footer">
                            <span class="font-weight-bold btn small">
                               toggle to open/close
                            </span>
                        </div>
                    </div>
                </div>
	    	</div>
        </div>

        <!-- little inventory -->

        <div class="dashboard-row">
            <h3 class="subtitle">Inventories</h3>



            <!-- item previews -->
            <transition name="slide-up">
                <div class="item-preview" v-if="selectedItem.show">
                    <span class="close" @click="selectedItem.show = false">&times;</span>
                    <div class="image">
                        <img width="100%" :src="selectedItem.image" alt="">
                    </div>

                    <div class="item-preview-info">
                        <div class="mb-3">
                            <p class="subtitle">{{selectedItem.name}}</p>
                            <span class="price">{{formatter.format(selectedItem.service_charge)}}</span> |
                            <span class="stock"> {{selectedItem.service_duration}} Mins</span>
                        </div>

                        <a :href="`${pathOrigin}/m/edit_item/${selectedItem.id}/${selectedItem.service_name}`" class="btn btn-secondary mr-3">Edit</a>
                        <a :href="`${pathOrigin}/m/show-inventory-item/${selectedItem.id}/${selectedItem.service_name}`" class="btn btn-primary">view</a>
                    </div>
                    
                </div>
            </transition>

            
            <!-- inventory table -->
            <div class="w-100" style="overflow-x: auto">

                <table class="table table-borderless table-dashboard">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Service Name</th>
                            <th scope="col">Service Cost</th>
                            <th scope="col">Service Duration</th>
                            <th scope="col">Available</th>
                            <th scope="col">Delivery</th>
                            <th scope="col">Image</th>
                        </tr>
                    </thead> 
                    <tbody>
                        <tr v-for="(service,i) in services" :key="i" @click="selectItem(service, i)">
                            <td>#</td>
                            <td>{{service.service_name}}</td>
                            <td>{{ formatter.format(service.service_charge) }}</td>
                            <td>{{service.service_duration}}</td>
                            <td>{{service.service_availability === 1 ? "Yes" : 'No'}}</td>
                            <td>{{service.deliverable === 1 ? 'Yes' : 'No'}}</td>
                            <td>
                                <img :src="service.image" alt="" width="39px" height="35px" class="rounded item-thumbnail">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="text-center">
                <a href="/m/manage-inventory" class="btn btn-primary">manage inventory</a>
            </div>

        </div>
   </div>
</template>

<script>
    import OnAndOff from '../../shared/OnAndOff.vue'
    export default {
        props: ['shop'],
        data(){
            return{
                services:[],
                selectedItem: {
                    show: false,
                    service_name: '',
                    service_charge: '',
                    url: '',
                    service_duration: ''
                }
            }
        },
        mounted(){
            if ( this.cookieGreeting == '' ) {
                console.log(this)
                this.$refs.modal.open();
            }
            this.getLatestInventry();
        },
        methods: {
            getLatestInventry: function () {
                axios.get(this.pathOrigin+'/m/service')
                .then(res => {
                    this.services = res.data.data
                    this.services.map( service => {
                        if(service.images){
                            service.image = service.images.split(',')[0]
                        }else{
                            service.image = 'https://res.cloudinary.com/daemoncoder/image/upload/v1623020424/lonux-shop-medium_z2txor.jpg'
                        }
                    })
                })
                .catch( err => {
                    console.log(err)
                })
            },
            selectItem(service, i){
                this.selectedItem.show = true
                this.selectedItem.service_name = service.service_name
                this.selectedItem.service_charge = service.service_charge
                this.selectedItem.service_duration = service.service_duration
                this.selectedItem.image = service.image
                this.selectedItem.id = service.id
            },
            closeModal: function () {
                this.setCookie('greeting', 'done', 15)
                this.$refs.modal.close()
            },
            setCookie: function(name,value,exdays){
                var d = new Date();
                d.setTime(d.getTime() + (exdays*24*60*60*1000));
                var expires = "expires="+ d.toUTCString();
                document.cookie = name + "=" + value + ";" + expires + ";path=/";
            },
        },
        computed: {
            cookieGreeting: function(){
                var name = "greeting" + "=";
                var decodedCookie = decodeURIComponent(document.cookie);
                var ca = decodedCookie.split(';');
                for(var i = 0; i <ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') {
                      c = c.substring(1);
                    }
                    if (c.indexOf(name) == 0) {
                      return c.substring(name.length, c.length);
                    }
                }
                return "";
            },
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'NGN',
                    minimumFractionDigits: 2
                })
            }
        },
        components: {
            // SweetModal,
            OnAndOff
        }
    }
</script>

<style scoped>
    .small{
        margin: 0px;
    }
</style>