<template>
   <div class="dashboard-main-content mt-0">
       <div class="overview" v-if="service">
           <h2 class="subtitle mb-4 text-uppercase">{{service.service_name}}</h2>
           <!-- <h3 class="subtitle mb-4">Overview</h3> -->
	    	<div class="row mt-5">
            <!-- item cost -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Cost(NGN)</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{formatter.format(service.service_charge)}}</span>
                        </div>
                    </div>
                </div>
               <!-- sold in -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Deliverable</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{service.deliverable === 1 ? 'Yes' : 'No'}}</span>
                        </div>
                    </div>
                </div>
                <!-- initial stock -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Duration</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{service.service_duration}}(Mins)</span>
                        </div>
                    </div>
                </div>
	    	</div>

            <!-- row two -->
            <div class="row mt-5">
                <!-- available items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Available</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{service.service_availability === 1 ? 'Yes' : 'No' }}</span>
                        </div>
                    </div>
                </div>
                <!-- sold items -->
                <div class="col-md-4">
                    <div class="card overview-card">
                        <div class="card-header">
                            <span>Service Sales</span>
                        </div>
                        <div class="card-body">
                            <span class="h2">{{service.salesCount}}</span>
                        </div>
                    </div>
                </div>
                
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center" v-if="service.service_images">
            <!-- item images -->
                <h4 class="subtitle mb-4 text-center text-uppercase col-12">Service Images</h4>
                <div class="col-md-3 text-center mt-3" v-for="(image, i) in service.service_images" :key='i'>
                    <!-- <div class="card overview-card"> -->
                        <!-- <div class="card-body"> -->
                            <div class="item-image-cover">
                                <img :src="image" alt="Item Images">
                            </div>
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>

            <!-- row three. Images -->
            <div class="row mt-5 justify-content-center">
            <!-- item images -->
                <!-- <h4 class="subtitle mb-4 text-center text-uppercase col-12">Actions</h4> -->
                <!-- <hr> -->
                <!-- <div class="col-md-3">
                </div> -->
                <button @click.prevent="editItem()" class="btn bg-white  mr-4 mt-3">Edit Service</button>
                <button @click.prevent="serviceIsOutOfStock()" class="btn bg-white  mr-4 mt-3">Service Unavailable</button>
                <button @click.prevent="deleteItem()" class="btn btn-danger mr-4 mt-3">Delete Service</button>
            </div>
            <br>
            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>

        </div>
   </div>
</template>

<script>
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: ['id'],
        data(){
            return{
                service: null,
            }
        },
        mounted(){
            this.getService();
        },
        methods: {
            getService: function () {
                axios.get(`${this.pathOrigin}/m/service/${this.id}`)
                .then(res => {
                    this.service = res.data.data
                    this.service.service_images = this.service.service_images.split(',')
                })
                .catch( err => {
                    console.log(err)
                })
            },
            serviceIsOutOfStock: function ()
            {
                this.loader.loading = true;
                axios.get(`${this.pathOrigin}/m/service/unavailable/${this.id}`)
                .then(res => {
                    location.reload();
                })
                .catch(err => {
                    this.loader.loading = false;
                    console.log(err)
                })
            },
            deleteItem: function () 
            {
                if (confirm("Are sure you want to delete this item?")) {
                    this.loader.loading = true
                    axios.post(`${this.pathOrigin}/m/delete_item`, {'itemId': this.id})
                    .then(res => {
                        alert("item deleted successfully!")
                        setTimeout( () => { window.location.href = `${this.pathOrigin}/m`}, 1000)
                    })
                    .catch(err => {
                        this.loader.loading = false
                        console.log(err)
                    })
                }
            },
            editItem: function () 
            {
                window.location.href = `${this.pathOrigin}/m/edit_item/${this.id}/${this.service.service_name}`
            }
        },
        computed: {
            formatter: function(){
                return new Intl.NumberFormat('en-US', {
                    // style: 'currency',
                    // currency: 'NGN',
                    minimumFractionDigits: 2
                })
            }
        },
        components: {
            ClipLoader,
        }
    }
</script>