<template>
	<div>
		<div class="info" v-if="!showScanner">
			<p class="aler alert-info">You will be asked for permisson to access your camera, please allow in order to be able to use the scanner.</p>
			<button @click="loadQuagga()" class="btn btn-secondary">Continue</button>
		</div>
		<div id="barcode_scanner"></div>
	</div>
</template>

<script>
	import Quagga from 'quagga'
    import adapter from 'webrtc-adapter'
	export default {

		name: 'BarcodeScanner',

		data () {
			return {
				showScanner: false,
			}
		},
		mounted(){},
		methods: {
			getItemByUPC: function(code){
				
			},
			order_by_occurance: function(arr){
				var counts = {}
				arr.forEach(function(value){
					if (!counts[value]) {
						counts[value] = 0;
					}
					counts[value]++;
				});

				return Object.keys(counts).sort(function(curKey, nextKey){
					return counts[curKey]  > counts[nextKey];
				})
			},
			loadQuagga: function (){
				var vue = this
				vue.showScanner = true
				if (navigator.mediaDevices && typeof navigator.mediaDevices.getUserMedia === 'function') {
				  	Quagga.init({
				  		inputStream : {
				  	      	name : "Live",
				  	      	type : "LiveStream",
				  	      	numOfWorkers: navigator.hardwareConcurrency,
				  	      	target: document.querySelector('#barcode_scanner'),
				  	      	constraints: {
				  	      	    width: 640,
				  	      	    height: 480,
				  	      	    facingMode: "environment",
			  	      	  	},
				  	    },
				  	    decoder : {
				  	      	readers : ["code_128_reader","ean_reader","ean_8_reader","code_39_reader","code_39_vin_reader","codabar_reader","upc_reader","upc_e_reader","i2of5_reader","2of5_reader","code_93_reader"]
				  	    }
				  	},function(err){
				  		if (err) { 
				  			console.log(err)
				  			vue.$emit('dom_error', err) 
				  			return
				  		}
			  			Quagga.start();
			  			console.log("started quagga...")
				  	})

				  	//when code is detected
				  	var resCollection = [];
				  	Quagga.onDetected(function(result){
				  		console.log("quagga detected.....")
				  		var last_code = result.codeResult.code;
				  		console.log(last_code)
				  		resCollection.push(last_code)
				  		if (resCollection.length > 20) {
				  			let code = vue.order_by_occurance(resCollection)[0]
				  			resCollection = []
				  			Quagga.stop();
				  			vue.showScanner = false;
				  			vue.$emit('successfulScan', code);
				  		}
				  	})
				}
			}
		},
		components: {
			Quagga,
			adapter,
		}
	}
</script>

<style lang="css" scoped>
</style>