<template>
    <div class="bookings" >
        <div class="bookings-content" :class="{'active': showBookings}">
            <div class="container">
                <h2 class="mb-5">Here is what you booked</h2>

                <div class="row">
                    <div class="col-md-8">
                        
                            <p class="font-weight-bold h4 mb-3">Apple</p>
                            <div class="cart d-flex flex-wrap"  id="bookSection">
                                <div class="image cart-image mr-3 mb-3">
                                    <img src="https://picsum.photos/130/116?random" alt="random">     
                                </div>
                                 <div class="store-result-cart">
                                    <!-- detail -->
                                    <div class="store-result-cart-detail">
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Quantity</p>
                                            
                                            <div class="d-inline-flex align-items-center">
                                                <span class="d-inline-block mr-3">{{quantity}}</span>

                                                <!-- quantity counter -->
                                                <div class="item-count-toggle">
                                                    <span @click="changeQuantity('add')" class="toggle-up">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M1.41 7.41L6 2.83L10.59 7.41L12 6L6 0L0 6L1.41 7.41Z" fill="#828282"/>
                                                        </svg>
                                                    </span>
                                                    <span @click="changeQuantity('remove')" class="toggle-down">
                                                        <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M10.59 0.59L6 5.17L1.41 0.589999L5.24537e-07 2L6 8L12 2L10.59 0.59Z" fill="#828282"/>
                                                        </svg>

                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Price</p>
                                            <p>NGN {{formatter.format(1000)}}</p>
                                            <!-- <p>NGN {{formatter.format(item.amount)}}</p> -->
                                        </div>
                                        <div class="store-result-cart-detail-col">
                                            <p class="subtitle">Total</p>
                                            <p><strong>NGN {{formatter.format(1000)}}</strong></p>
                                        </div>
                                        
                                    </div>

                          
                                 </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="b-close" :class="{'active': showBookings}" @click="showBookings = false">&times;</span>
        <div class="bookings-label" @click="showBookings = true" :class="{'active': showBookings}">
            <span class="icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.20631 9C2.95424 8.99974 2.71228 9.09912 2.53316 9.27649C2.35404 9.45385 2.25228 9.69481 2.25006 9.94688C2.24904 10.0342 2.26169 10.1212 2.28756 10.2047L4.71099 18.75C4.82332 19.1492 5.06336 19.5005 5.39438 19.7503C5.7254 20 6.12915 20.1344 6.54381 20.1328H17.4563C17.8718 20.1332 18.2761 19.9985 18.6084 19.7491C18.9406 19.4997 19.1828 19.149 19.2985 18.75L21.7219 10.2047L21.7501 9.94688C21.7478 9.69481 21.6461 9.45385 21.467 9.27649C21.2878 9.09912 21.0459 8.99974 20.7938 9H3.20631ZM12.2682 16.5033C11.8786 16.5013 11.4983 16.384 11.1753 16.1662C10.8523 15.9483 10.601 15.6396 10.4533 15.2791C10.3055 14.9186 10.2679 14.5224 10.3451 14.1405C10.4223 13.7586 10.6109 13.4082 10.8871 13.1334C11.1632 12.8586 11.5146 12.6717 11.8969 12.5964C12.2792 12.5211 12.6752 12.5607 13.0349 12.7103C13.3947 12.8598 13.7021 13.1126 13.9184 13.4367C14.1346 13.7608 14.2501 14.1416 14.2501 14.5313C14.2476 15.0552 14.0377 15.5569 13.6662 15.9264C13.2948 16.296 12.7921 16.5034 12.2682 16.5033V16.5033Z" stroke="black" stroke-linejoin="round"/>
                    <path d="M7.5 9L12 3L16.5 9" stroke="black" stroke-linejoin="round"/>
                </svg>

            </span>
            <span class="badge badge-primary">2</span>
        </div>
    </div>
</template>

<script>
export default {
   data(){
       return{
           showBookings: false,
           quantity: 1
       }
   },
   methods: {
        changeQuantity: function (type) {
            if (type == 'add') {
                this.quantity++
            }else{
                this.quantity--
                if(this.quantity < 2){
                    this.quantity = 1
                }
            }
        }
   },
   computed: {
        formatter: function(){
            return new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'NGN',
                minimumFractionDigits: 2
            })
        }
   }
}
</script>