<template>
  <div class="small-chart">
    <bar-chart :chart-data="fillChart"></bar-chart>
  </div>
</template>

<script>
  import BarChart from './js/BarChart'

  export default {
    props: ['data'],
    components: {
      BarChart
    },
    data () {
      return {}
    },
    mounted () {
      this.fillData()
    },
    computed: {
      fillChart: function(){
        return this.fillData(this.data)
      }
    },
    methods: {
      fillData (data) {
        if(data){
          return {
            labels: data[1],
            datasets: [
                {
                  label: 'Sales',
                  backgroundColor: '#222222',
                  data: data[0],
                  borderColor: '#f5f5f5',
                borderWidth: 1
                },
                // {
                //   label: 'Bookings',
                //   backgroundColor: '#212121',
                //   data: [1,0,1,5,2,1,0,9,0,1,2,4,6,7,8,6,4,7,8,6,9,0,8,6,5,3,2,4,5,7],
                //   backgroundColor: '#212121',
                // borderWidth: 1
                // }
              ]
          }
        }
        return {
          labels: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30],
          datasets: [
            {
              label: 'Sales',
              backgroundColor: '#f87979',
              data: [1,0,1,5,2,1,0,9,0,1,2,4,6,7,8,6,4,7,8,6,9,0,8,6,5,3,2,4,5,7],
              backgroundColor: '#f5970a',
            borderWidth: 1
            },
            {
              label: 'Bookings',
              backgroundColor: '#212121',
              data: [1,0,1,5,2,1,0,9,0,1,2,4,6,7,8,6,4,7,8,6,9,0,8,6,5,3,2,4,5,7],
              backgroundColor: '#212121',
            borderWidth: 1
            }
          ]
        }
      },
      getRandomInt () {
        return Math.floor(Math.random() * (50 - 5 + 1)) + 5
      }
    }
  }
</script>

<style>
  .small-chart
   {
    max-width: 600px;
    margin:  150px auto;
  }
</style>