<template>
    <div>
        <!--<div id="map" style="float:left;width:70%;height:100%"></div>
        <div id="directionsPanel" style="width:30%;"></div> -->
 
        <!-- sweet modal -->
        <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="modal" icon="info">
            Would you also like us to book this item with <strong>{{shop.shop_name}}</strong> so that on your arrival, your order will be ready?
	        <button @click.prevent="userWantstoBook" class="btn btn-primary" slot="button">Yes Please</button>
            <button @click="noNeedJustDirectMe" class="btn btn-secondary" slot="button">No need, just direct me</button>
            <button @click="dontBorder" class="btn btn-light" slot="button">Dont border</button>
        </sweet-modal>

        <!-- sweet modal rating-->
        <sweet-modal :blocking="true" :enable-mobile-fullscreen="true" ref="ratingModal" icon="success">
            We are happy you finally arrived at <strong>{{shop.shop_name}}</strong> 
            <p>Please leave a review of this shop.</p>
            <div class="form-group row justify-content-center">
                <star-rating v-model="rating.rating" :increment="0.01"></star-rating>
            </div>
            <div class="form-group">
                <label>Review (optional)</label>
                <textarea placeholder="your review text... (optional)" class="form-control" v-model="rating.desc"></textarea>
            </div>
            <button @click="publishReview()" id="publishReviewButton" class="btn btn-primary" slot="button">Publish review</button>
            <clip-loader :loading="loader.loading" :color="loader.color"></clip-loader>
        </sweet-modal>

        <div id="map" class="map-image bg-light d-flex justify-content-center align-items-center" style="height: 500px">
            choose travelmode
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <button class="btn btn-primary mt-3" id="showDirections" @click="promptForBooking(shop.shop_name)">Show Directions</button>
                <div style="display: none;" id="directionsPanel" class="direction-in-word shadow-lg">
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap py-3" style="display: none !important;" id="showTravelModesButtons">
            <span class="mr-auto">Distance: {{shop.dist}}km</span>
            <div>
                <button @click="showDirection('D')" class="btn btn-secondary mb-1 mr-1">Get driving direction</button>
                <button @click="showDirection('W')" class="btn btn-light mb-1">Get walking direction</button>
            </div>
        </div>

    </div>
</template>

<script>
    import {lonuxbus} from '../../app.js'
    import StarRating from 'vue-star-rating'
    import { SweetModal } from 'sweet-modal-vue'
    import ClipLoader from 'vue-spinner/src/ClipLoader.vue'
    export default {
        props: {
            shop: {
                type: Object,
                required: true,
            },
            loc: {
                type: Object,
                required: true
            },
        },
        data(){
            return {
                // userLoc: this.loc,
                rating: {},
                watcher: null,
                driveMode: "DRIVING",
                directionInWord: false,
                directionService: null,
                directionsRenderer: null,
                showTravelModesButtons: false,
            }
        },
        mounted(){
            var vue = this
            lonuxbus.$on('showTextDirections', function () {
                $('#showTravelModesButtons').css('display', 'flex');
                $('#showDirections').fadeOut();
                vue.watchPosition()
            })
            lonuxbus.$on('updateLocation', function () {
                $('#directionsPanel').fadeOut('slow');
                $("div#directionsPanel").text("")
            })
        },
        // created(){
        //     let googleMapScript = document.createElement('script')
        //     googleMapScript.setAttribute('src', 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCBoeN56JTOlbsPvfK4ltGPAdDaRSrFaog')
        //     document.head.appendChild(googleMapScript)
	    // },
        methods: {
            showDirection: function(t){
                $('#directionsPanel').fadeIn('slow');
                var type;
                if (t == 'D') {
                    type = 'DRIVING';
                    this.driveMode = type;
                }else{
                    type = 'WALKING'
                    this.driveMode = type
                }
                this.initMap(type)
                if ($('#directionsPanel').text() == '') {
                    this.initMap(type);
                }
                // $("#showDirections").show();
            },
            initMap: function(type){
                this.directionService = new google.maps.DirectionsService();
                this.directionsRenderer = new google.maps.DirectionsRenderer();

                $("div#directionsPanel").text("")

                var userLocation = new google.maps.LatLng(this.userLoc.lat, this.userLoc.lng);
                var mapOptions = {
                    zoom:15,
                    center: userLocation
                }
                var map = new google.maps.Map(document.getElementById('map'), mapOptions);
                var marker = new google.maps.Marker({
                    position: userLocation,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: 'You are here'
                });
                this.directionsRenderer.setMap(map);
                this.directionsRenderer.setPanel(document.getElementById('directionsPanel'));

                this.calcRoute(type);
            },
            calcRoute: function(type){
                let vue = this;
                var start = new google.maps.LatLng(this.userLoc.lat, this.userLoc.lng);
                // var end = new google.maps.LatLng(this.shop.lat, this.shop.lng);
                // var start = "2039 Masaka, Wuse, Abuja, Nigeria";
                // var end = "c115, 116 1st Avenue, Gwarinpa Estate, Abuja";
                // var end = "61 Lake Chad Crescent, Street, Nigeria"
                var end = "Shop B sunny vale mall,sunny vale Estate,Dakwo district ,Fct Abuja AMAC, 900107, Abuja, Nigeria"
                var request = {
                    origin: start,
                    destination: end,
                    travelMode: google.maps.TravelMode[type]
                };
                this.directionService.route(request, function(response, status) {
                    if (status == 'OK') {
                        // console.log(this)
                        // console.log(response)
                    vue.directionsRenderer.setDirections(response);
                    }
                });
            },
            promptForBooking: function(){
                this.$refs.modal.open();
            },
            userWantstoBook: function(){
                this.$refs.modal.close();
                let sectionView = document.getElementById('bookSection');
                let section = $('div#bookSection')
                $('#mapDiv').fadeOut('slow');
                section.fadeIn('slow');
                $('#bookButton').fadeIn('slow');
                $('#itemNameDiv').fadeIn('slow');
                sectionView.scrollIntoView()
            },
            successFunction: function (pos) {
                var crd = pos.coords;

                this.userLoc.lat = crd.latitude;
                this.userLoc.lng = crd.longitude;

                var target = {
                    latitude : this.shop.lat,
                    longitude: this.shop.lng
                };

                if (target.latitude === crd.latitude && target.longitude === crd.longitude) {
                    console.log('Congratulations, you reached the target');
                    alert("You reached it MF");
                    navigator.geolocation.clearWatch(this.watcher);
                    this.startRatingDialog();
                }

                this.initMap(this.driveMode);
            },
            errorFunction: function (err) {
                console.warn('ERROR(' + err.code + '): ' + err.message);
            },
            watchPosition: function () {
                var target, options;
                options = {
                    enableHighAccuracy: false,
                    timeout: 'infinity',
                    maximumAge: 0
                };

                this.watcher = navigator.geolocation.watchPosition(this.successFunction, this.errorFunction, options);
                console.log("whats happening!???")
            }, 
            endLocationWatch: function () {
                navigator.geolocation.clearWatch(this.watcher)
            },
            noNeedJustDirectMe: function () {
                this.$refs.modal.close();
                $('#showTravelModesButtons').css('display', 'flex');
                $('#directionsPanel').fadeIn('slow');
                $('#showDirections').fadeOut();
                this.watchPosition();
            },
            dontBorder: function () {
                this.$refs.modal.close();
                this.startRatingDialog()
            },
            startRatingDialog: function () {
                this.$refs.ratingModal.open();
            },
            publishReview: function () {
                if (!this.rating.rating) {
                    alert("please rate shop before publishing")
                    return
                }
                $('#publishReviewButton').attr('disabled', true)
                this.loader.loading = true;
                this.rating.shop_id = this.shop.id;
                axios.post(this.pathOrigin+'/save_rating', this.rating)
                .then( res => {
                    this.$refs.ratingModal.close();
                    this.loader.loading = false
                    $('#publishReviewButton').text('Review published')
                }) 
                .catch( err => {
                    this.loader.loading = false
                    $('#publishReviewButton').attr('disabled', false)
                    alert("We could not save your review, please try again.")
                })
            }
        },
        computed: {
            userLoc: function () {
                return this.loc
            }
        },
        components: {
            SweetModal,
            StarRating,
            ClipLoader,
        }
    }
</script>

<style scoped>
    #map{
        position: relative;
    }
    .direction-in-word{
        /* width: 60%; */
        padding: 2rem;
        /* position: absolute; */
        /* bottom: 0; */
        background: #fff;
        border: 1px dashed #333;
        border-radius: 4px;
        margin: 2rem auto;
        text-align: center;
    }
</style>