<template>
	<div>
		<h3>Oops scanner encountered an error!</h3><br>

		<h6>Error Type: <strong>{{error.name}}</strong></h6>

		<h6>Error Message: <strong>{{errors[error.name].message}}</strong></h6>
		<br>
		<h4>Quick Fixes</h4>
		<p v-for="qfix in errors[error.name].quickFixes">
			<span class="small text-muted">{{qfix}}</span>
		</p>
	</div>
</template>

<script>
	export default {
		props:['error'],
		name: 'errorHandler',
		data () {
			return {
				errors: {
					AbortError: {
						message: 'An unknown error occured',
						quickFixes: ['Please reload and try again'],
					},
					NotAllowedError: {
						message: 'Permission Denied',
						quickFixes: [
							'if you loaded this page over HTTP, please use HTTPS',
							'Grant Camera Access to this website. To do this, goto settings > site settings > camera. Set it to "Ask befor accessing"',
							'Alterntively, you can click on the lock icon close to this website name, if camera appears, change from Block to Allow and reload the page'
							]
					},
					NotFoundError: {
						message: 'Media Track not Found',
						quickFixes: [
							'we think there is an issue with your machine\'s video graphics card'
						]
					},
					NotReadableError: {
						message: 'Stream Not Readable Error',
						quickFixes: ['Please reload and try again'],
					},
					OverconstrainedError: {
						message: 'Over Constrained Error',
						quickFixes: ['Please reload and try again']
					},
					SecurityError: {
						message: 'Security Error',
						quickFixes: ['use another browser'],
					},
					TypeError: {
						message: 'Type Error',
						quickFixes: ['if you loaded this page over HTTP, please use HTTPS']
					}
				}
			}
		}
	}
</script>

<style lang="css" scoped>
</style>