<template>
    <footer class="footer" :class="'bg-'+color">
        <div class="container">
            <p :class=" ['text-center' , {'text-light': color == 'dark'}]">
                copyright&copy; {{copyrightYear}}
            </p>
        </div>
    </footer>    
</template>

<script>
export default {
    props: ['color'],
   data(){
       return{

       }
   },
   computed: {
        copyrightYear: function(){
  		var d = new Date(); 
  		return d.getFullYear();
	  }
   }
}
</script>