<template>
    <div>
        <div class="modal" id="persuadeForPermission" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Permission Denied! </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="h4">Hello There,</p>
                        <br>
                        <p>
                            You have denied us access to your location which makes us unable to display the closest shops to you that sell what you want.
                        </p>
                        <br>
                        <p>
                            <h3>You can do this...</h3>
                            <br>
                            Click on the <em>lock icon</em> close to the <em>website name</em> on the <em>address bar.</em>
                            A dropdown will appear, On that dropdown, you will see <em>Location</em> change it from <em>Block to <strong>Allow</strong></em>
                            and refresh the page.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {lonuxbus} from '../../app'
    export default{
        mounted(){
            this.checkPermissionStatus();
        },
        methods: {
            persuadeForPermission: function(){
                $('div#persuadeForPermission').modal('toggle')
                this.$forceUpdate()
            },
            checkPermissionStatus: function(){
                let vue = this
                navigator.permissions.query({name:'geolocation'})
                .then(function(result) {
                    if (result.state == 'granted') {
                        console.log(result.state);
                    } else if (result.state == 'prompt') {
                        console.log(result.state);
                    } else if (result.state == 'denied') {
                       vue.persuadeForPermission()
                    }
                    result.onchange = function() {
                        console.log(result.state);
                        if(result.state == 'denied') {
                            vue.persuadeForPermission()
                        }
                    }
                });
            },
            result: function(res){
                console.log(res)
            }
        },
    }

</script>