<template>
	<!-- navbar -->
	
	<nav class="navbar navbar-expand-md navbar-light">
		<button class="navbar-toggler ml-auto mb-2 bg-light" type="button" data-toggle="collapse" data-target="#loNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="loNavbar">
			<div class="container-fluid">
				<div class="row">
					<!-- sidebar start -->
					<div class="col-lg-3 col-md-4 sidebar fixed-top">
						<a href="/" class="navbar-brand text-lead d-block mx-auto text-center py-3 mb-4 bottom-border">
							<img :src="pathOrigin+'/img/lonux-logo-01.svg'" width="140px">
						</a>
						<div class="bottom-border mx-auto d-block text-center pb-2">
							<a class="text-lead" href="#">
								<i class="lonux2 mr-3 material-icons">person</i>
							Shigaba Victor</a>
						</div>
						<ul class="navbar-nav flex-column mt-4">
							<li class="nav-item">
								<a href="#" class="nav-link mb-2 p-3 current"><i class="lonux2 mr-3 material-icons">home</i>Home</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link lonux2 mb-2 p-3 sidebar-link"><i class="lonux2 mr-3 material-icons">home</i>Company/Buisness</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link lonux2 mb-2 p-3 sidebar-link"><i class="lonux2 mr-3 material-icons">home</i>Buisness Mnanger</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link lonux2 mb-2 p-3 sidebar-link"><i class="lonux2 mr-3 material-icons">home</i>Statistics</a>
							</li>
						</ul>
					</div>
					<!-- sidebar end -->

					<!-- top nav -->
					<div class="col-lg-9 col-md-8 ml-auto fixed-top py-2 topNav">
						<div class="row align-items-center">
							<div class="col-md-5 text-white text-uppercase text-center">
								{{ pageTitle }}
							</div>
							<div class="col-md-4 text-white text-uppercase text-center">
								<form>
									<div class="input-group">
										<input type="text" name="search" class="form-control l-home-search-input" placeholder="search for an item" required>
										<button type="submit" class="btn l-home-search-btn">
											<i class="text-white material-icons">search</i>
										</button>
									</div>
								</form>
							</div>
							<!-- logout form -->
							<form id="logout-form" :action="pathOrigin+'/logout'" method="POST" style="display: none;">
								<input type="text" id="csrf" name="_token">
							</form>
							<!-- logout form -->
							<div class="col-md-3">
								<ul class="navbar-nav">
									<li class="nav-item ml-auto">
										<a @click.prevent="logout()" href="#" class="nav-link">
											<i class="mr-auto fa material-icons text-danger fa-lg">logout</i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- end of navbar -->
</template>

<script>
export default {

  name: 'NavComponent',

  data () {
    return {
		csrf: window.lonux.csrf_token
    }
  },
  methods:{
	  logout: function(){
			$('form#logout-form').find('input#csrf').val(this.csrf)
			$('form#logout-form').submit()
	  }
  },
  computed: {
  	pageTitle: function(){
  		return this.$store.state.page.title
  	}
  }
};
</script>

<style lang="css" scoped>
</style>