<template>
    <div class="row justify-content-between">
        <form class=" search-form-field position-relative" autocomplete="off" @submit.prevent="runSearch()">
            <div class="form-group m-0">
                <input type="text" id="search" @focusout="searchSuggestion = []" @keyup="triggerSuggestions()" v-model="searchQuery" class="form-control border" placeholder="search for item">
                <!-- <input type="text" id="search" @focusout="test=true" @keyup="test=true" v-model="searchQuery" class="form-control border" placeholder="search for item"> -->
                <button type="submit" class="form-zero">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.5 14H14.71L14.43 13.73C15.41 12.59 16 11.11 16 9.5C16 5.91 13.09 3 9.5 3C5.91 3 3 5.91 3 9.5C3 13.09 5.91 16 9.5 16C11.11 16 12.59 15.41 13.73 14.43L14 14.71V15.5L19 20.49L20.49 19L15.5 14ZM9.5 14C7.01 14 5 11.99 5 9.5C5 7.01 7.01 5 9.5 5C11.99 5 14 7.01 14 9.5C14 11.99 11.99 14 9.5 14Z" fill="#F5F5F4"/>
                    </svg>
                </button>
                <transition name="fade">

                    <!-- <div class="search-section-suggestion" v-if="searchSuggestion.length" style="overflow-y: scroll"> -->
                    <div class="search-form-suggestion" v-if="searchSuggestion.length">
                        
                        <ul>
                            <!-- <li>
                                <button class="search-form-suggestion-item">
                                    Aopple
                                </button>
                            </li>
                            <li>
                                <button class="search-form-suggestion-item">
                                    Aopple
                                </button>
                            </li>
                            <li>
                                <button class="search-form-suggestion-item">
                                    Aopple
                                </button>
                            </li> -->
                            <li v-for="(suggestion, i) in searchSuggestion" :key="i">
                                <button @mouseover="searchQuery = suggestion.name"  @click="searchQuery = suggestion.name" href="#" type="submit" class="search-form-suggestion-item">
                                    <strong style="background-color: #d3d3d3">{{suggestion.match}}</strong>{{suggestion.remTxt}}
                                </button>
                            </li>
                        </ul>	
                            
                    </div>
                </transition>
            </div>
        </form>
    </div>
</template>

<script>
    import { lonuxbus } from '../../app.js'
    export default{
        data(){
            return {
                searchQuery: '',
                searchSuggestion: [],
                
            }
        },
        mounted(){
            lonuxbus.$on('searchSuggestions', () =>{
			    this.getSearchSuggestions();
		    })
        },
        methods: {
            runSearch(){
			    window.location.href = `${this.pathOrigin}/search?q=${this.searchQuery}`
		    },
            triggerSuggestions: _.debounce((val) => {
			    lonuxbus.$emit('searchSuggestions')
		    },500),
            getSearchSuggestions(){
                if(this.searchQuery){
                    axios.get(this.pathOrigin+'/get_item_suggestions/'+this.searchQuery)
                    .then(res=>{
                        this.searchSuggestion = [];
                        this.highlightMatch(res.data.data)
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                }
                
            },
            highlightMatch: function(dataArray){
                let len = this.searchQuery.length
                dataArray.map( data =>{
                    let dataObj = {};
                    let match = data.substr(0, len)
                    let remTxt = data.substr(len, data.length)
                    dataObj.name = data
                    dataObj.match = match
                    dataObj.remTxt = remTxt
                    this.searchSuggestion.push(dataObj)
                })
            }
        }

    }
</script>
