<template>
    <div class="dashboard-main-content">
        <!-- under construction -->
		<div>		
			<h4 class="dashboard-title dashboard-title-2">Under Construction - {{pageTitle}}</h4>

			<div class="row justify-content-center">
                <div class="col-md-6">
                   <div class="error-construction-man">
                       <img :src="svgPath" alt="page construction" class="img-fluid">
                   </div> 
                </div>
				<div class="col-md-8 col-sm-8 text-center">		
                    <div class="error-wrapper error-wrapper--adjust">
                        <h1 class="error-heading error-heading--sm">Ouch!!</h1>
                        <p class="error-message">Sorry, Our handy engineers over there are still building this awesome feature </p>
                    
                        <a @click.prevent="goBack()" class="btn btn-primary px-5 mt-5">Go Back</a>
                    </div>
				</div>
			</div>
		</div>
    </div>
</template>
<script>

    export default{
        props: [],
        data(){
            return {
                svgPath: null,
            }
        },
        mounted(){
            this.svgPath = `${this.pathOrigin}/img/page-construction.svg`
        },
        methods: {
            goBack: function(){
                this.$router.go(-1)
            }
        },
        computed: {
            pageTitle: function(){
                return this.$route.params.pageTitle
            }
        }
    }

</script>